<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <th:block th:if="${productCate1 != null}">
                    <li th:text="${productCate1.CATE1_NM}"></li>
                </th:block>
                <th:block th:if="${productCate2 != null}">
                    <li th:text="${productCate2.CATE2_NM}"></li>
                </th:block>
                <th:block th:if="${productCate3 != null}">
                    <li th:text="${productCate3.CATE3_NM}"></li>
                </th:block>
                <th:block th:if="${productInfo != null}">
                    <li th:text="${productInfo.PRODUCT_NM}"></li>
                </th:block>
            </ul>
        </div>
    </div>
    <div class="ps-page--product">
        <div class="container">
            <div class="ps-page__container">
                <div class="ps-product--detail">
                    <div class="ps-product__header">
                        <div class="ps-product__thumbnail" data-vertical="false">
                            <figure>
                                <div class="ps-wrapper">
                                    <div class="ps-product__gallery" data-arrow="true">
                                        <div th:if="${productFrontAfile != null}" class="item"><a th:href="@{/any/product_detail/{productSeq}(productSeq=${productSeq})}" target="_blank"><img th:src="${productFrontAfile.URL_PATH_CD}"></a></div>
                                        <div th:if="${productBackAfile != null}" class="item"><a th:href="@{/any/product_detail/{productSeq}(productSeq=${productSeq})}" target="_blank"><img th:src="${productBackAfile.URL_PATH_CD}"></a></div>
                                        <div th:if="${productAspectAfile != null}" class="item"><a th:href="@{/any/product_detail/{productSeq}(productSeq=${productSeq})}" target="_blank"><img th:src="${productAspectAfile.URL_PATH_CD}"></a></div>
                                        <div th:if="${productShape1Afile != null}" class="item"><a th:href="@{/any/product_detail/{productSeq}(productSeq=${productSeq})}" target="_blank"><img th:src="${productShape1Afile.URL_PATH_CD}"></a></div>
                                        <div th:if="${productShape2Afile != null}" class="item"><a th:href="@{/any/product_detail/{productSeq}(productSeq=${productSeq})}" target="_blank"><img th:src="${productShape2Afile.URL_PATH_CD}"></a></div>
                                        <div th:if="${productOutside1Afile != null}" class="item"><a th:href="@{/any/product_detail/{productSeq}(productSeq=${productSeq})}" target="_blank"><img th:src="${productOutside1Afile.URL_PATH_CD}"></a></div>
                                        <div th:if="${productOutside2Afile != null}" class="item"><a th:href="@{/any/product_detail/{productSeq}(productSeq=${productSeq})}" target="_blank"><img th:src="${productOutside2Afile.URL_PATH_CD}"></a></div>
                                        <div th:if="${productEtc1Afile != null}" class="item"><a th:href="@{/any/product_detail/{productSeq}(productSeq=${productSeq})}" target="_blank"><img th:src="${productEtc1Afile.URL_PATH_CD}"></a></div>
                                        <div th:if="${productEtc2Afile != null}" class="item"><a th:href="@{/any/product_detail/{productSeq}(productSeq=${productSeq})}" target="_blank"><img th:src="${productEtc2Afile.URL_PATH_CD}"></a></div>
                                    </div>
                                </div>
                            </figure>
                            <div class="ps-product__variants" data-item="9" data-md="9" data-sm="9" data-arrow="false">
                                <div th:if="${productFrontAfile != null}" class="item"><img th:src="${productFrontAfile.URL_PATH_CD}"></div>
                                <div th:if="${productBackAfile != null}" class="item"><img th:src="${productBackAfile.URL_PATH_CD}"></div>
                                <div th:if="${productAspectAfile != null}" class="item"><img th:src="${productAspectAfile.URL_PATH_CD}"></div>
                                <div th:if="${productShape1Afile != null}" class="item"><img th:src="${productShape1Afile.URL_PATH_CD}"></div>
                                <div th:if="${productShape2Afile != null}" class="item"><img th:src="${productShape2Afile.URL_PATH_CD}"></div>
                                <div th:if="${productOutside1Afile != null}" class="item"><img th:src="${productOutside1Afile.URL_PATH_CD}"></div>
                                <div th:if="${productOutside2Afile != null}" class="item"><img th:src="${productOutside2Afile.URL_PATH_CD}"></div>
                                <div th:if="${productEtc1Afile != null}" class="item"><img th:src="${productEtc1Afile.URL_PATH_CD}"></div>
                                <div th:if="${productEtc2Afile != null}" class="item"><img th:src="${productEtc2Afile.URL_PATH_CD}"></div>
                            </div>
                        </div>
                        <div class="ps-product__info">
                            <h1 th:text="${productInfo.PRODUCT_NM}"></h1>
                            <div class="ps-product__meta">
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${productInfo.BRAND_SEQ})}">
                                    <p th:text="${'Brand: ' + productInfo.BRAND_NM}" style="text-decoration: underline; color: #09c"></p>
                                </a>
                            </div>
                            <h4 class="ps-product__price">Retail Price : <span class="num" th:text="${'$'.concat(#numbers.formatInteger(productInfo.RETAIL_PRICE, 0, 'COMMA'))}"></span></h4>
                            <div class="ps-product__desc">
                                <ul class="ps-list--dot">
                                    <li th:text="${'Size/Weight: '.concat(productInfo.PRODUCT_CAPACITY)}"></li>
                                    <li th:text="${'Color/Type: '.concat(productInfo.PRODUCT_LINEUP)}">"></li>
                                    <li id="lProductAtrbt">Keyword: </li>
                                    <li id="lProductCrt">Product Certificate: </li>
                                    <li id="lExportHst">Export Experience: </li>
                                </ul>
                            </div>
                            <h4>Quotation (Wholesale Price)</h4>
                            <div class="price-info-box">
                                <th:block sec:authorize="isAuthenticated()">
                                    <a href="javascript:void(0);" class="btn-login" id="btnFobHst" th:if="${memInfo.APPROVAL_YN.equals('Y')}">Click Here</br></a>
                                    <a href="javascript:void(0);" class="btn-login" th:if="${memInfo.APPROVAL_YN.equals('N')}" th:onclick="'alert(\'Waiting for approval\')'">Not Available Yet</br></a>
                                </th:block>
                                <th:block sec:authorize="isAnonymous()">
                                    <a href="javascript:void(0);" class="btn-login" th:onclick="'alert(\'Please login\')'">Login Required</br></a>
                                </th:block>
                                <table class="tbl-price">
                                    <colgroup>
                                        <col style="width:33%">
                                        <col style="width:33%">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Quantity</th>
                                            <th>FOB Unit Price</th>
                                            <th>Supply Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="fob : ${fobList}">
                                            <tr>
                                                <td th:text="${#numbers.formatInteger(fob.RANGE_START, 0, 'COMMA') + ' ~ ' + #numbers.formatInteger(fob.RANGE_END, 0, 'COMMA')}"></td>
                                                <td th:text="${'$' + #numbers.formatDecimal(((productInfo.RETAIL_PRICE * fob.EXPOSURE_SUPPLY_RATE) / 100.0), 0, 'COMMA', 1, 'POINT')}"></td>
                                                <td th:text="${fob.EXPOSURE_SUPPLY_RATE + '%'}"></td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                                <th:block th:if="${#strings.equals(productInfo.GIVE_SAMPLE_YN, 'Y')}">
                                    <p class="txt-impt">* Free Sample: Available</p>
                                </th:block>
                                <th:block th:if="${#strings.equals(productInfo.GIVE_SAMPLE_YN, 'N')}">
                                    <p class="txt-impt">* Free Sample: Not Available</p>
                                </th:block>
                            </div>
                            <div class="btn-box">
                                <th:block sec:authorize="isAuthenticated()">
                                    <span class="ps-btn type-pink" id="btnAddWish"><i class="fa fa-heart-o"></i> WISHLIST</span>
                                    <th:block th:if="${memProductInfo != null}">
                                        <th:block th:if="${memProductInfo.INQUIRY_YN.equals('Y')}">
                                            <a th:href="@{'/any/inquiry/detail/' + ${memProductInfo.INQUIRY_SEQ}}">
                                                <span class="ps-btn" id="btnInquiryHst">INQUIRY HISTORY</span>
                                            </a>
                                        </th:block>
                                        <th:block th:if="${memProductInfo.INQUIRY_YN.equals('N')}">
                                            <span class="ps-btn" id="btnInquiryReg" th:if="${memProductInfo.INQUIRY_YN.equals('N')}">ASK NOW</span>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${memProductInfo == null}">
                                        <span class="ps-btn" id="btnInquiryReg">ASK NOW</span>
                                    </th:block>
                                </th:block>
                                <th:block sec:authorize="isAnonymous()">
                                    <span class="ps-btn type-pink" th:onclick="'alert(\'Please login\')'"><i class="fa fa-heart-o"></i> WISHLIST</span>
                                    <span class="ps-btn" th:onclick="'alert(\'Please login\')'">ASK NOW</span>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="ps-product__content ps-tab-root">
                        <ul class="ps-tab-list">
                            <li class="active"><a href="#tab-1">Seller’s Note</a></li>
                            <li><a href="#tab-2">Product Detail</a></li>
                            <li><a href="#tab-3">Deal Option</a></li>
                        </ul>
                        <div class="ps-tabs">
                            <div class="ps-tab active" id="tab-1">
                                <div class="ps-document" th:utext="${productInfo.SELLER_NOTE}"></div>
                            </div>
                            <div class="ps-tab" id="tab-2" th:utext="${productInfo.PRODUCT_CONTENT}"></div>
                            <div class="ps-tab" id="tab-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="inquiryRegFrm" name="inquiryRegFrm" th:action="@{/any/inquiry/register}" method="POST">
        <input type="hidden" id="productSeq" name="productSeq" th:value="${productInfo.PRODUCT_SEQ}"/>
        <input type="hidden" id="returnGbn" name="returnGbn" th:value="productDetail"/>
    </form>
    <form id="inquiryHstFrm" name="inquiryHstFrm" th:action="@{/any/inquiry/list}" method="POST">
        <input type="hidden" id="productSeq" name="productSeq" th:value="${productInfo.PRODUCT_SEQ}"/>
        <input type="hidden" id="returnGbn" name="returnGbn" th:value="productDetail"/>
    </form>

    <script th:inline="javascript" type="text/javascript">
        $(() => {
            PageScope.init();
            EventScope.init();
        });

        const PageScope = {

            productAtrbt: null,
            productCrt: null,
            exportHst: null,
            tradingConditions: null,

            init() {
                this.productAtrbt = /*[[${productInfo.PRODUCT_ATRBT}]]*/ 'default' || '';
                this.productCrt = /*[[${productInfo.PRODUCT_CRT}]]*/ 'default' || '';
                this.exportHst = /*[[${productInfo.EXPORT_HST}]]*/ 'default' || '';
                this.tradingConditions = /*[[${productInfo.TRADING_CONDITIONS}]]*/ 'default' || '';

                this.bindFields();
            },

            bindFields() {
                if (this.productAtrbt) {
                    const productAtrbtNm = this.productAtrbt.split(',').map(atrbt => {
                        return PRODUCT_ATRBT[atrbt];
                    });
                    $('#lProductAtrbt').text(`Keyword: ${productAtrbtNm.join(', ')}`);
                }
                if (this.productCrt) {
                    const productCrtNm = this.productCrt.split(',').map(crt => {
                        return PRODUCT_CRT[crt];
                    });
                    $('#lProductCrt').text(`Product Certificate: ${productCrtNm.join(', ')}`);
                }
                if (this.exportHst) {
                    const exportHstNm = this.exportHst.split(',').map(hst => {
                        return EXPORT_HIST[hst];
                    });
                    $('#lExportHst').text(`Export Experience: ${exportHstNm.join(', ')}`);
                }
                if (this.tradingConditions) {
                    const tradingConditionsNm = this.tradingConditions.split(',').map(condition => {
                        return TRADING_CONDITIONS[condition];
                    });
                    $('#tab-3').text(`${tradingConditionsNm.join(', ')}`);
                }
            },

            saveWishInfo() {
                axios({
                    method: 'post',
                    url: '/any/rest/wishlist/info/save',
                    params: Object.assign(this.getParameters())
                }).then(response => {
                    if (response.data === 'ADD') {
                        alert('Successfully added');
                        $('#btnAddWish').find('i').attr('class','fa fa-heart');
                    }else if (response.data === 'DELETE') {
                        alert('Successfully delete');
                        $('#btnAddWish').find('i').attr('class','fa fa-heart-o');
                    }
                }).catch(error => {
                    console.log(error);
                    alert('[Error] Please contact administrator');
                });
            },

            getParameters() {
                return {
                    productSeq: $('#productSeq').val()
                }
            }

        };

        const EventScope = {

            init() {
                this.clickEventListener();
            },

            clickEventListener() {
                $('#btnAddWish').on('click', () => {
                    //wishList추가
                    PageScope.saveWishInfo();
                });
                $('#btnInquiryReg').on('click', () => {
                    //Inquiry 등록 화면 이동
                    $('#inquiryRegFrm').submit();
                });
                $('#btnInquiryHst').on('click', () => {
                    //Inquiry 목록 화면 이동
                    //$('#inquiryHstFrm').submit();
                });
                $('#btnFobHst').on('click', () => {
                    var productRegUsrId = /*[[${productInfo.REG_USR_ID}]]*/ 'default' || '';
                    var memId = /*[[${memInfo.MEM_ID}]]*/ 'default' || '';
                    var role = /*[[${memInfo.ROLE}]]*/ 'default' || '';
                    if(role.indexOf("ADMIN") != -1 || role.indexOf("BUYER") != -1 || productRegUsrId === memId){
                        $('#btnFobHst').hide();
                    }else{
                        alert("Only products that you registered can be viewed.");
                    }

                });
            }
        };
    </script>
</th:block>
</html>