<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a th:href="@{/main}">Home</a></li>
                    <li>My account</li>
                </ul>
            </div>
        </div>
        <div class="ps-my-account">
            <div class="container">
                <form class="ps-form--account ps-tab-root" action="link.html" method="get">
                    <ul class="ps-tab-list">
                        <li class="active"><a href="#sign-in">Login</a></li>
                        <li><a href="#register">Register</a></li>
                    </ul>
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="sign-in">
                            <div class="ps-form__content">
                                <h5>Log In Your Account</h5>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="email address">
                                </div>
                                <div class="form-group form-forgot">
                                    <input class="form-control" type="text" placeholder="Password"><a href="">Forgot?</a>
                                </div>
                                <div class="form-group">
                                    <div class="ps-checkbox">
                                        <input class="form-control" type="checkbox" id="remember-me" name="remember-me">
                                    </div>
                                </div>
                                <div class="form-group submtit">
                                    <button class="ps-btn ps-btn--fullwidth">Login</button>
                                </div>
                            </div>
                        </div>
                        <div class="ps-tab" id="register">
                            <div class="ps-form__content">

                                <div class="ps-form__decs">
                                    <div class="ps-radio">
                                        <input class="form-control" type="radio" id="user-type-1" name="user-type">
                                        <label for="user-type-1">I'm a buyer in Veitnam</label>
                                    </div>
                                    <div class="ps-radio">
                                        <input class="form-control" type="radio" id="user-type-2" name="user-type">
                                        <label for="user-type-2">I'm a seller in Korea(한국 브랜드를 갖고 있습니다)</label>
                                    </div>
                                </div>

                                <h5>Register An Account</h5>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="email address">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="password">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="Confirm password">
                                </div>
                                <p class="form-row form-group form-row-wide">
                                    <label for="business-registration">Business Registration <span class="required">*</span></label>
                                    <input class="form-control" type="file" id="business-registration" accept="image/*,  .pdf" required="required">
                                </p>


                                <div class="show_if_seller" style="display: block;">

                                    <p class="form-row form-group form-row-wide">
                                        <label for="your-name">Your Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="your-name" value="" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="phone-number">Phone Number <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="phone-number" value="" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="company-name">Company or Shop Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="company-name" value="" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="company-url">Company or Shop URL <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="company-url" value="" required="required">
                                    </p>

                                    <div class="form-group">
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="remember-me" name="remember-me">
                                            <label for="remember-me">Rememeber me</label>
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group submit">
                                    <button class="ps-btn ps-btn--fullwidth">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>