<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a th:href="@{/main}">Home</a></li>
                    <li>My account</li>
                </ul>
            </div>
        </div>
        <div class="ps-my-account">
            <div class="container">
                <form class="register ps-form--account ps-tab-root" method="post">
                    <ul class="ps-tab-list">
                        <li class="active"><a href="#sign-in">Login</a></li>
                        <li><a href="#register">Register</a></li>
                    </ul>
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="sign-in">
                            <div class="ps-form__content">
                                <h5>Log In Your Account</h5>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Email address">
                                </div>
                                <div class="form-group form-forgot">
                                    <input class="form-control" type="text" placeholder="Password"><a href="">Forgot?</a>
                                </div>
                                <div class="form-group">
                                    <div class="ps-checkbox">
                                        <input class="form-control" type="checkbox" id="remember-me" name="remember-me">
                                    </div>
                                </div>
                                <div class="form-group submtit">
                                    <button class="ps-btn ps-btn--fullwidth">Login</button>
                                </div>
                            </div>
                        </div>
                        <div class="ps-tab" id="register">
                            <div class="ps-form__content">

                                <div class="ps-form__decs">
                                    <p class="form-row form-group user-role">
                                        <label class="radio">
                                            <input type="radio" name="role" class="woocommerce-form__input-checkbox" value="customer" checked="checked">
                                            <span>I'm a buyer in Veitnam</span>
                                        </label>

                                        <label class="radio">
                                            <input type="radio" name="role" class="woocommerce-form__input-checkbox" value="seller">
                                            <span>I'm a seller in Korea(한국 브랜드를 갖고 있습니다)</span>
                                        </label>
                                    </p>
                                </div>

                                <h5>Register An Account</h5>
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Email address" required="required">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" id="userPw" placeholder="Password" required="required">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" id="userPwChk" placeholder="Confirm Password" required="required">
                                    <small id="chkNotice"></small>
                                </div>
                                <p class="form-row form-group form-row-wide">
                                    <label for="business-registration">Business Registration <span class="required">*</span></label>
                                    <input class="form-control" type="file" id="business-registration" accept="image/*,  .pdf" required="required">
                                </p>


                                <div class="show_if_seller" style="display: none;">

                                    <p class="form-row form-group form-row-wide">
                                        <label for="your-name">Your Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="your-name" value="" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="phone-number">Phone Number <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="phone-number" value="" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="company-name">Company or Shop Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="company-name" value="" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="company-url">Company or Shop URL <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="company-url" value="" required="required">
                                    </p>

                                    <div class="form-group">
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="terms_conditions" name="terms_conditions" required="required">
                                            <label for="terms_conditions">이용 약관의 내용에 동의합니다.</label>

                                        </div>
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="privacy_policy" name="privacy_policy" required="required">
                                            <label for="privacy_policy">개인정보 취급방침의 내용에 동의합니다.</label>
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group submit">
                                    <button type="submit" id="btnRegister" class="ps-btn ps-btn--fullwidth">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>

<script>
(function($) {
    var register = {
        init: function() {
            var form = $('form.register');
            $('.user-role input[type=radio]', form).on('change', this.showSellerForm);
            $('.form-group input[type=password]', form).keyup(this.confirmPasswordForm);
            $('#phone-number', form).keydown(this.ensurePhoneNumber);
        },
        /*        validate: function(self) {
                    $('form.register').validate({
                        errorPlacement: function(error, element) {
                            var form_group = $(element).closest('.form-group');
                            form_group.addClass('has-error').append(error);
                        },
                        success: function(label, element) {
                            $(element).closest('.form-group').removeClass('has-error');
                        },
                        submitHandler: function(form) {
                            form.submit();
                        }
                    });
                },*/
        confirmPasswordForm: function(e) {
            if('' != $('#userPwChk').val()){
                if($('#userPw').val() != $('#userPwChk').val()){
                    $('#chkNotice').html('<strong color="#f82a2aa3">Passwords do not match</strong>');
                    $("#btnRegister").attr("disabled", "disabled");
                } else{
                    $('#chkNotice').html('<strong color="#199894b3">Passwords match</strong>');
                    $("#btnRegister").removeAttr("disabled");
                }
            }else{
                $('#chkNotice').html('');
            }
        },
        showSellerForm: function() {
            var value = $(this).val();
            if (value === 'seller') {
                $('.show_if_seller').find('input, select').removeAttr('disabled');
                $('.show_if_seller').slideDown();
            } else {
                $('.show_if_seller').find('input, select').attr('disabled', 'disabled');
                $('.show_if_seller').slideUp();
            }
        },
        ensurePhoneNumber: function(e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 91, 107, 109, 110, 187, 189, 190]) !== -1 || (e.keyCode == 65 && e.ctrlKey === true) || (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        }
    };
    $(function() {
        register.init();
        var shouldTrigger = !$('.show_if_seller').is(':hidden');
        if (shouldTrigger) {
            var form = $('form.register');
            $('.user-role input[type=radio]', form).trigger('change');
        }
    });
})(jQuery);
</script>

