<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-block--vendor-dashboard">
                <div class="ps-block__header">
                    <h3>Contact Us</h3>
                </div>
                <div class="ps-block__content contact-box">
                    <div class="mb-5">
                        <label for="" class="bul-type">NAME <span class="required">*</span></label>
                        <input type="text" id="" class="form-control" required>
                    </div>
                    <div class="mb-5">
                        <label for="" class="bul-type">EMAIL <span class="required">*</span></label>
                        <input type="text" id="" class="form-control" required>
                    </div>
                    <div class="mb-5">
                        <label for="" class="bul-type">COMPANY <span class="required">*</span></label>
                        <input type="text" id="" class="form-control" required>
                    </div>
                    <div class="mb-5">
                        <label for="" class="bul-type">SUBJECT <span class="required">*</span></label>
                        <input type="text" id="" class="form-control" required>
                    </div>
                    <div class="mb-5">
                        <label for="" class="bul-type">MESSAGE</label>
                        <textarea name="" id="" class="form-control"></textarea>
                    </div>
                </div>
                <div class="btns">
                    <button type="button" id="btnSave" class="ps-btn type-black">SUBMIT</button>
                </div>
            </div>
        </div>
        <!-- //.container : E -->
    </div>
</th:block>
</html>