<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a th:href="@{/}">Home</a></li>
                    <li>SignUp</li>
                </ul>
            </div>
        </div>
        <div class="ps-my-account">
            <div class="container">
                <div class="register ps-form--account ps-tab-root">
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="register">
                            <div class="ps-form__content">
                                <form id="signup" name="signup" th:action="@{/any/member/signup}" method="post" enctype="multipart/form-data">
                                    <div class="ps-form__decs form-group user-role">
                                        <div class="ps-radio mb-1">
                                            <input class="form-control" type="radio" id="buyer" name="role" value="BUYER" checked>
                                            <label for="buyer">I'm a buyer in Veitnam</label>
                                        </div>
                                        <div class="ps-radio mb-1">
                                            <input class="form-control" type="radio" id="seller" name="role" value="SELLER">
                                            <label for="seller">I'm a seller in Korea<br>(한국 브랜드를 갖고 있습니다)</label>
                                        </div>
                                    </div>

                                    <h4 id="registerText">Register An Account</h4>
                                    <div class="form-group">
                                        <input class="form-control" type="email" id="memId" name="memId" placeholder="Email address" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="memPw" name="memPw" placeholder="Password" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="memPwChk"  name="memPwChk" placeholder="Confirm Password" required="required">
                                        <small id="chkNotice"></small>
                                    </div>

                                    <p class="form-row form-group form-row-wide">
                                        <label for="memNm">Your Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="memNm" name="memNm" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="tel">Phone Number <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="tel" name="tel" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="companyNm">Company or Shop Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="companyNm" name="companyNm"  required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="companyUrl">Company or Shop URL <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="companyUrl" name="companyUrl" required="required">
                                    </p>

                                    <div id="buyerType" class="form-row form-group form-row-wide bsnsChannel" required="required">
                                        <label>Distribution Channel <span class="required">*</span> (multiple choice) </label>
                                        <div>
                                            <div class="chk-wrap">
                                                <div class="ps-checkbox">
                                                    <input class="form-control" type="checkbox" id="offlineYn" name="offlineYn" value="Y">
                                                    <label for="offlineYn">Offline</label>
                                                </div>
                                                <input class="form-control type-inline" type="text" id="offlineText" name="offlineText" placeholder="ex.) drug store, pharmacy, door-to-door">
                                            </div>
                                            <div class="chk-wrap">
                                                <div class="ps-checkbox">
                                                    <input class="form-control" type="checkbox" id="onlineYn" name="onlineYn" value="Y">
                                                    <label for="onlineYn">Online</label>
                                                </div>
                                                <input class="form-control type-inline" type="text" id="onlineText" name="onlineText" placeholder="ex.) facebook, own shopping mall, shopee">
                                            </div>
                                        </div>
                                    </div>

                                    <div name="sellerType" class="form-group form-row-wide bsnsType" style="display: none" required="required">
                                        <label>사업자유형 <span class="required">*</span> (중복체크가능) </label>
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="bsnsType1" name="bsnsType" value="10">
                                            <label for="bsnsType1">제조업자</label>
                                        </div>
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="bsnsType2" name="bsnsType" value="20">
                                            <label for="bsnsType2">책임판매업자</label>
                                        </div>
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="bsnsType3" name="bsnsType" value="30">
                                            <label for="bsnsType3">도매/소매 유통업자</label>
                                        </div>
                                    </div>

                                    <div class="form-group form-row-wide">
                                        <label for="bsnsRgstrNm"> Business Registration <span class="required">*</span></label>
                                        <div class="filebox">
                                            <input class="form-control" id="bsnsRgstrNm" value="" readonly >
                                            <label for="btnBsnsRgstr" class="ps-btn type-black">File</label>
                                            <input type="file" id="btnBsnsRgstr" name="file" class="upload-hidden" required="required" />
                                        </div>
                                    </div>

                                    <div name="sellerType" class="form-group form-row-wide agreeContents" style="display: none">
                                        <div class="ps-checkbox type-line" >
                                            <input class="form-control" type="checkbox" id="termsConditions" name="termsConditions">
                                            <label for="termsConditions"><em>이용 약관</em>의 내용에 동의합니다.</label>
                                        </div>
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="privacyPolicy" name="privacyPolicy">
                                            <label for="privacyPolicy"><em>개인정보 취급방침</em>의 내용에 동의합니다.</label>
                                        </div>
                                    </div>

                                    <div class="form-group mt-5">
                                        <button type="submit" id="btnSave" class="ps-btn ps-btn--fullwidth" disabled>Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>

<script>
(function($) {
    var signup = {

        uploadStarter: null,

        init: function() {
            this.inputFileForm();
            $('.user-role input[type=radio]').on('change', this.changeMemberForm);
            $('.form-group input[type=password]').on('keyup',this.confirmPasswordForm);
            $('#tel').on('keydown',this.ensurePhoneNumber);
            $('#signup').on('submit', this.validateForm);
            $('.agreeContents input[type=checkbox]').on('click',this.openPopup);
        },
        //비밀번호 확인
        confirmPasswordForm: function() {
            if('' !== $('#memPwChk').val()){
                if($('#memPw').val() !== $('#memPwChk').val()){
                    $('#chkNotice').html('<strong><font color="#f82a2aa3">Passwords do not match</font></strong>');
                    $('#btnSave').prop("disabled", true);
                } else{
                    $('#chkNotice').html('<strong><font color="#199894b3">Passwords match</font></strong>');
                    $('#btnSave').prop("disabled", false);
                }
            }else{
                $('#chkNotice').html('');
            }
        },
        changeMemberForm: function() {
            var value = $(this).val();
            if (value === 'SELLER') {
                $('#registerText').text("계정을 등록해 주세요.");
                $('label[for="memNm"]').html("담당자 이름(직급) <span class=\"required\">*</span>");
                $('label[for="tel"]').html("연락처 <span class=\"required\">*</span>");
                $('label[for="companyNm"]').html("회사명 <span class=\"required\">*</span>");
                $('label[for="companyUrl"]').html("회사 또는 브랜드 홈페이지 주소 <span class=\"required\">*</span>");
                $('label[for="bsnsRgstrNm"]').html("사업자 등록증 <span class=\"required\">*</span>");

                $( '#buyerType' ).hide();
                $( '[name="sellerType"]' ).show();
            } else {
                $('#registerText').text("Register An Account");
                $('label[for="memNm"]').html("Your Name <span class=\"required\">*</span>");
                $('label[for="tel"]').html("Phone Number <span class=\"required\">*</span>");
                $('label[for="companyNm"]').html("Company or Shop Name <span class=\"required\">*</span>");
                $('label[for="companyUrl"]').html("Company or Shop URL <span class=\"required\">*</span>");
                $('label[for="bsnsRgstrNm"]').html("Business Registration <span class=\"required\">*</span>");

                $( '#buyerType' ).show();
                $( '[name="sellerType"]' ).hide();
            }
        },
        ensurePhoneNumber: function(e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 91, 107, 109, 110, 187, 189, 190]) !== -1 || (e.keyCode === 65 && e.ctrlKey === true) || (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        },
        inputFileForm: function(){
            var fileTarget = $('.filebox .upload-hidden');
            fileTarget.on('change', function(){
                if(window.FileReader){
                    var fileName = $(this)[0].files[0].name;
                } else {
                    var fileName = $(this).val().split('/').pop().split('\\').pop();
                }
                $(this).siblings('.form-control').val(fileName);
            });
        },
        idOverLapChk: function() {
            var rtn = true;
            var memId =  $("#memId").val();
            $.ajax({
                async: false,
                type : 'POST',
                data : memId,
                url : "/any/rest/member/idOverLapChk",
                dataType : "json",
                contentType: "application/json; charset=UTF-8",
                success : function(data) {
                    if (data) {
                        if("SELLER" === $('.user-role input[type=radio]:checked').val()){
                            alert("아이디가 이미 존재합니다. 다른 아이디를 입력해주세요.");
                            $("#memId").focus();
                        }else{
                            alert("ID already exists");
                            $("#memId").focus();
                        }
                        //아이디가 중복되었을 경우
                        rtn = false;
                    } else {
                        //아이디가 중복되지않을 경우
                        rtn = true;
                    }
                },
                error : function(error) {
                    alert("error : " + error);
                }
            });

            return rtn;
        },
        bsnsTypeChk: function(){
            var rtn = true;

            if("SELLER" === $('.user-role input[type=radio]:checked').val()){
                if(0 === $('.bsnsType input[type=checkbox]:checked').length){
                    alert("사업자 유형을 선택해주세요.");
                    rtn = false;
                }
            }else{
                if(0 === $('.bsnsChannel input[type=checkbox]:checked').length){
                    alert("Check Distribution Channel");
                    rtn = false;
                }
            }

            return rtn;
        },
        sellerAgreeChk: function() {
            var rtn = true;

            if("SELLER" === $('.user-role input[type=radio]:checked').val()){
                if(!$('#termsConditions').is(":checked")){
                    alert("이용 약관의 내용에 동의하셔야 회원가입이 가능합니다.");
                    rtn = false;
                }else if(!$('#privacyPolicy').is(":checked")){
                    alert("개인정보 취급방침의 내용에 동의하셔야 회원가입이 가능합니다.");
                    rtn = false;
                }

            }else{
                rtn = true;
            }

            return rtn;
        },
        openPopup: function () {
            this.blur();

            $.modalPopup({
                url: '/any/'+$(this).attr('id'),
                close: function(result) {
                    console.log(result);
                }
            });
        },
        validateForm: function() {
            //1. 아이디 중복체크
            if(!signup.idOverLapChk()){
                return false;
            }
            //2. 바이어일 경우 채널 등록, 셀러일 경우 사업자유형 등록
            if(!signup.bsnsTypeChk()){
                return false;
            }
            //3. 셀러일 경우 이용약관 동의여부
            if(!signup.sellerAgreeChk()){
                return false;
            }

/*            if("SELLER" === $('.user-role input[type=radio]:checked').val()){
                if(confirm("회원가입을 하시겠습니까?")){
                    return true;
                }else{
                    return false;
                }
            }else{
                if(confirm("Would you like to Sign up?")){
                    return true;
                }else{
                    return false;
                }
            }*/

            return true;
        }
    };

    $(function() {
        signup.init();
    });
})(jQuery);


</script>

