<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a th:href="@{/}">Home</a></li>
                    <li>Resister</li>
                </ul>
            </div>
        </div>
        <div class="ps-my-account">
            <div class="container">
                <div class="register ps-form--account ps-tab-root">
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="register">
                            <div class="ps-form__content">
                                <form name="signup" th:action="@{/any/member/signup}" method="post">
                                    <div class="ps-form__decs form-group user-role">
                                        <div class="ps-radio mb-1">
                                            <input class="form-control" type="radio" id="buyer" name="role" value="BUYER" checked>
                                            <label for="buyer">I'm a buyer in Veitnam</label>
                                        </div>
                                        <div class="ps-radio mb-1">
                                            <input class="form-control" type="radio" id="seller" name="role" value="SELLER">
                                            <label for="seller">I'm a seller in Korea<br>(한국 브랜드를 갖고 있습니다)</label>
                                        </div>
                                    </div>

                                    <h4 id="registerText">Register An Account</h4>
                                    <div class="form-group">
                                        <input class="form-control" type="email" id="memId" name="memId" placeholder="Email address" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="memPw" name="memPw" placeholder="Password" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="memPwChk"  name="memPwChk" placeholder="Confirm Password" required="required">
                                        <small id="chkNotice"></small>
                                    </div>

                                    <p class="form-row form-group form-row-wide">
                                        <label for="memNm">Your Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="memNm" name="memNm" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="tel">Phone Number <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="tel" name="tel" required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="companyNm">Company or Shop Name <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="companyNm" name="companyNm"  required="required">
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="companyUrl">Company or Shop URL <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="companyUrl" name="companyUrl" required="required">
                                    </p>

                                    <div id="buyerType" class="form-row form-group form-row-wide">
                                        <label for="">Distribution Channel <span class="required">*</span> (multiple choice) </label>
                                        <div>
                                            <div class="chk-wrap">
                                                <div class="ps-checkbox">
                                                    <input class="form-control" type="checkbox" id="offlineYn" name="offlineYn" value="10">
                                                    <label for="offlineYn">Offline</label>
                                                </div>
                                                <input class="form-control type-inline" type="text" id="offlineText" name="offlineText" placeholder="ex.) drug store, pharmacy, door-to-door">
                                            </div>
                                            <div class="chk-wrap">
                                                <div class="ps-checkbox">
                                                    <input class="form-control" type="checkbox" id="onlineYn" name="onlineYn" value="20">
                                                    <label for="onlineYn">Online</label>
                                                </div>
                                                <input class="form-control type-inline" type="text" id="onlineText" name="onlineText" placeholder="ex.) facebook, own shopping mall, shopee">
                                            </div>
                                        </div>
                                    </div>

                                    <div id="sellerType" class="form-group form-row-wide" style="display: none">
                                        <label for="">사업자유형 <span class="required">*</span> (중복체크가능) </label>
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="bsnsType1" name="bsnsType" value="10">
                                            <label for="bsnsType1">제조업자</label>
                                        </div>
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="bsnsType2" name="bsnsType" value="20">
                                            <label for="bsnsType2">책임판매업자</label>
                                        </div>
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="bsnsType3" name="bsnsType" value="30">
                                            <label for="bsnsType3">도매/소매 유통업자</label>
                                        </div>
                                    </div>

                                    <div class="form-group form-row-wide">
                                        <label for="bsnsRgstr"> Business Registration <span class="required">*</span></label>
                                        <div class="filebox">
                                            <input class="form-control" id="bsnsRgstr" value="파일선택" disabled="disabled">
                                            <label for="ex_filename" class="ps-btn type-black">첨부하기</label>
                                            <input type="file" id="ex_filename" class="upload-hidden">
                                        </div>
                                    </div>

                                 <!--   <div class="form-group">
                                        <label for="">사업자유형* (중복체크가능) </label>

                                    </div>-->

                                    <div class="ps-checkbox agreeContents type-line">
                                        <input class="form-control" type="checkbox" id="terms_conditions" name="terms_conditions">
                                        <label for="terms_conditions">이용 약관의 내용에 동의합니다.</label>
                                    </div>
                                    <div class="ps-checkbox agreeContents">
                                        <input class="form-control" type="checkbox" id="privacy_policy" name="privacy_policy">
                                        <label for="privacy_policy">개인정보 취급방침의 내용에 동의합니다.</label>
                                    </div>

                                    <div class="form-group submit mt-5">
                                        <button type="submit" id="btnRegister" class="ps-btn ps-btn--fullwidth">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>

<script>
(function($) {
    var signup = {
        init: function() {
            var form = $('form[name="signup"]');
            $('.user-role input[type=radio]', form).on('change', this.showSellerForm);
            $('.form-group input[type=password]', form).keyup(this.confirmPasswordForm);
            $('#tel', form).keydown(this.ensurePhoneNumber);
            this.inputFileForm();
        },
        confirmPasswordForm: function() {
            if('' !== $('#memPwChk').val()){
                if($('#memPw').val() !== $('#memPwChk').val()){
                    $('#chkNotice').html('<strong color="#f82a2aa3">Passwords do not match</strong>');
                    $("#btnRegister").attr("disabled", "disabled");
                } else{
                    $('#chkNotice').html('<strong color="#199894b3">Passwords match</strong>');
                    $("#btnRegister").removeAttr("disabled");
                }
            }else{
                $('#chkNotice').html('');
            }
        },
        showSellerForm: function() {
            var value = $(this).val();
            if (value === 'SELLER') {
                $('#registerText').text("계정을 등록해 주세요.");
                $('label[for="memNm"]').html("담당자 이름(직급) <span class=\"required\">*</span>");
                $('label[for="tel"]').html("연락처 <span class=\"required\">*</span>");
                $('label[for="companyNm"]').html("회사명 <span class=\"required\">*</span>");
                $('label[for="companyUrl"]').html("회사 또는 브랜드 홈페이지 주소 <span class=\"required\">*</span>");
                $('label[for="bsnsRgstr"]').html("사업자 등록증 <span class=\"required\">*</span>");

                $( '#buyerType' ).hide();
                $( '#sellerType' ).show();
            } else {
                $('#registerText').text("Register An Account");
                $('label[for="memNm"]').html("Your Name <span class=\"required\">*</span>");
                $('label[for="tel"]').html("Phone Number <span class=\"required\">*</span>");
                $('label[for="companyNm"]').html("Company or Shop Name <span class=\"required\">*</span>");
                $('label[for="companyUrl"]').html("Company or Shop URL <span class=\"required\">*</span>");
                $('label[for="bsnsRgstr"]').html("Business Registration <span class=\"required\">*</span>");

                $( '#buyerType' ).show();
                $( '#sellerType' ).hide();
            }
        },
        ensurePhoneNumber: function(e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 91, 107, 109, 110, 187, 189, 190]) !== -1 || (e.keyCode === 65 && e.ctrlKey === true) || (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        },
        inputFileForm: function(){
            var fileTarget = $('.filebox .upload-hidden');
            fileTarget.on('change', function(){
                if(window.FileReader){
                    var fileName = $(this)[0].files[0].name;
                } else {
                    var fileName = $(this).val().split('/').pop().split('\\').pop();
                }
                $(this).siblings('.form-control').val(fileName);
            });
        }
    };
    $(function() {
        signup.init();
    });
})(jQuery);
</script>

