<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li>대분류</li>
                <li>중분류</li>
                <li>소분류</li>
                <li>Product Name</li>
            </ul>
        </div>
    </div>
    <div class="ps-page--product">
        <div class="container">
            <div class="ps-page__container">
                <div class="ps-product--detail">
                    <div class="ps-product__header">
                        <div class="ps-product__thumbnail" data-vertical="false">
                            <figure>
                                <div class="ps-wrapper">
                                    <div class="ps-product__gallery" data-arrow="true">
                                        <div class="item"><a href="http://nouthemes.net/html/martfury/img/products/detail/fullwidth/1.jpg"><img src="http://nouthemes.net/html/martfury/img/products/detail/fullwidth/1.jpg" alt=""></a></div>
                                        <div class="item"><a href="http://nouthemes.net/html/martfury/img/products/detail/fullwidth/2.jpg"><img src="http://nouthemes.net/html/martfury/img/products/detail/fullwidth/2.jpg" alt=""></a></div>
                                        <div class="item"><a href="http://nouthemes.net/html/martfury/img/products/detail/fullwidth/3.jpg"><img src="http://nouthemes.net/html/martfury/img/products/detail/fullwidth/3.jpg" alt=""></a></div>
                                    </div>
                                </div>
                            </figure>
                            <div class="ps-product__variants" data-item="4" data-md="3" data-sm="3" data-arrow="false">
                                <div class="item"><img src="http://nouthemes.net/html/martfury/img/products/detail/fullwidth/1.jpg" alt=""></div>
                                <div class="item"><img src="http://nouthemes.net/html/martfury/img/products/detail/fullwidth/2.jpg" alt=""></div>
                                <div class="item"><img src="http://nouthemes.net/html/martfury/img/products/detail/fullwidth/3.jpg" alt=""></div>
                            </div>
                        </div>
                        <div class="ps-product__info">
                            <h1>Marshall Kilburn Portable Wireless Speaker</h1>
                            <div class="ps-product__meta">
                                <p>Brand:<a href="shop-default.html">Sony</a></p>
                            </div>
                            <h4 class="ps-product__price">Retail Price : <span class="num">$10</span></h4>
                            <h4>Quotation (Wholesale Price)</h4>
                            <table class="tbl-price">
                                <colgroup>
                                    <col style="width:33%">
                                    <col style="width:33%">
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Quantity</th>
                                    <th>FOB Unit Price</th>
                                    <th>Supply Rate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>100 ~ 500 </td>
                                    <td>$1.5</td>
                                    <td>30%</td>
                                </tr>
                                <tr>
                                    <td>501 ~ 1,000</td>
                                    <td>$1.2</td>
                                    <td>25%</td>
                                </tr>
                                <tr>
                                    <td>1,001 ~</td>
                                    <td>$1.0</td>
                                    <td>20%</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="txt-impt">* Free Sample: Available</p>
                            <div class="ps-product__desc">
                                <ul class="ps-list--dot">
                                    <li>Size/Weight: 1.08 oz / 32 ml</li>
                                    <li>Color/Type: #natural finish, #light, #rich honey</li>
                                    <li>Keyword:  Collagen, Anti-aging, Whitening</li>
                                    <li>Product Certificate: Natural&Organic, Halal Cert. </li>
                                    <li>Export Experience: Europe, China</li>
                                </ul>
                            </div>
                            <div class="btn-box">
                                <a class="ps-btn type-pink" href="#"><i class="fa fa-heart-o"></i> WISHLIST</a>
                                <a class="ps-btn" href="#">ASK NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="ps-product__content ps-tab-root">
                        <ul class="ps-tab-list">
                            <li class="active"><a href="#tab-1">Seller’s Note</a></li>
                            <li><a href="#tab-2">Product Detail</a></li>
                            <li><a href="#tab-3">Deal Option</a></li>
                        </ul>
                        <div class="ps-tabs">
                            <div class="ps-tab active" id="tab-1">
                                <div class="ps-document">
                                    <p>이제품으로말할거같으면… 인류의혁신적개발이라칭할만하며노벨 과학상을받아마땅한미백크림<br>
                                        한번도안산사람은있어도, 한번만산사람은없다는바로그미백크림
                                    </p>
                                </div>
                            </div>
                            <div class="ps-tab" id="tab-2">
                                Product Detail
                            </div>
                            <div class="ps-tab" id="tab-3">
                                Deal Option
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>