<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-block--vendor-dashboard">
                <div class="ps-block__header mt-50">
                    <h3>Inquiry</h3>
                </div>
                <div class="ps-block__content contact-box">
                    <div class="mb-5">
                        <label for="" class="bul-type">PRODUCT</label>
                        <div class="prd-wrap">
                            <div class="item" th:each="productList : ${productList}">
                                <div class="img-box"><img th:src="${productList.URL_PATH_CD}"></div>
                                <span class="name" th:text="${productList.PRODUCT_NM}"></span>
                                <input type="hidden" id="productSeq" name="productSeq" th:value="${productList.PRODUCT_SEQ}"/>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="message" class="bul-type">MESSAGE</label>
                        <textarea id="message" name="message" maxlength="4000" class="form-control"></textarea>
                    </div>
                </div>
                <div class="btns">
                    <button type="button" id="btnSave" class="ps-btn type-black">Submit</button>
                    <button type="button" id="btnCancel" class="ps-btn type-black">Cancel</button>
                    <form id="returnFrm" method="post" action="">
                        <input type="hidden" id="returnGbn" name="returnGbn" th:value="${returnGbn}"/>
                        <input type="hidden" id="returnSeq" name="returnSeq" th:value="${returnSeq}"/>
                    </form>
                </div>
            </div>
        </div>
        <!-- //.container : E -->
    </div>
</th:block>
</html>



<script>
    $(() => {
        PageScope.init();
        EventScope.init();
    });

    const PageScope = {

        init() {

        },
        saveInquiryInfo() {
            axios({
                method: 'post',
                url: '/any/rest/inquiry/info/save',
                params: Object.assign(this.getParameters())
            }).then(response => {
                if (response.data === 200) {
                    alert('Submitted successfully');
                    this.returnPage();
                }else{
                    alert('Failed to submit');
                }
            }).catch(error => {
                console.log(error);
                alert('[Error] Please contact administrator');
            });
        },
        getParameters() {
            return {
                productSeq: CommonUtils.getNamesToCommaString($('[name="productSeq"]')),
                message: $('#message').val()
            }
        },
        returnPage(){
            if("productDetail" === $('#returnGbn').val()){
                CommonUtils.forwardPage("/any/product_detail/"+$('#returnSeq').val());
            }else if("wishList" === $('#returnGbn').val()){
                CommonUtils.forwardPage('/any/wishlist/list');
            }
        }
    };

    const EventScope = {

        init() {
            this.clickEventListener();
        },

        clickEventListener() {
            $('#btnSave').on('click', () => {
                if (confirm('Do you want to submit?')) {
                    PageScope.saveInquiryInfo();
                }
            });
            $('#btnCancel').on('click', () => {
                PageScope.returnPage();
            });
        }
    };
</script>
