<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-block--vendor-dashboard">
                <div class="ps-block__header mt-50">
                    <h3>Inquiry</h3>
                </div>
                <div class="ps-block__content contact-box">
                    <div class="mb-5">
                        <label for="" class="bul-type">PRODUCT</label>
                        <div class="prd-box" th:each="productList : ${productList}">
                            <div class="img-box"><img th:src="${productList.get('URL_PATH_CD')}"></div>
                            <span class="name" th:text="${productList.get('PRODUCT_NM')}"></span>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="message" class="bul-type">MESSAGE</label>
                        <textarea id="message" name="message" maxlength="4000" class="form-control"></textarea>
                    </div>
                </div>
                <div class="btns">
                    <button type="button" id="btnSave" class="ps-btn type-black">Submit</button>
                    <button type="button" id="btnCancel" class="ps-btn type-black">Cancel</button>
                </div>
            </div>
        </div>
        <!-- //.container : E -->
    </div>
</th:block>
</html>