<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-page--shop" id="shop-sidebar">
        <div class="container">
            <div class="ps-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Category</li>
                    </ul>
                </div>
            </div>
            <div class="ps-layout--shop">
                <div class="ps-layout__left">
                    <aside class="widget widget_shop">
                        <h4 class="widget-title">Categories</h4>
                        <ul class="ps-list--categories">
                            <li class="current-menu-item menu-item-has-children"><a href="#">SKINCARE</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu depth-2">
<!--

                                    <th:block th:each="cate1CdList : ${cate1CdList}">
                                        <th:block th:if="${'S'.equals(cate1CdList.get('TAG_YN'))}">
                                            <li class="current-menu-item menu-item-has-children"><a href="#" th:text="${cate1CdList.get('CATE2_NM')}"></a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                                <ul class="sub-menu depth-3">
                                        </th:block>

                                                    <li class="current-menu-item "><a href="#" th:text="${cate1CdList.get('CATE3_NM')}"></a></li>

                                        <th:block th:if="${'E'.equals(cate1CdList.get('TAG_YN'))}">
                                                </ul>
                                            </li>
                                        </th:block>
                                    </th:block>
-->

                                </ul>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="ps-layout__right">
<!--                    <div class="search-box">
                        <select name="" id="" class="ps-select" style="width:20%">
                            <option value="">선택1</option>
                        </select>
                        <input type="text" class="form-control" id="" placeholder="" style="width:40%">
                        <button type="button" id="" class="ps-btn type-black">Search</button>
                    </div>-->
                    <div class="ps-shopping ps-tab-root">
                        <div class="ps-shopping__header">
                            <p><strong th:text="${#lists.size(cateList)}"> </strong> Products found</p>
<!--                            <div class="ps-shopping__actions">
                                <select class="ps-select" data-placeholder="Sort Items">
                                    <option>Sort by latest</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by average rating</option>
                                    <option>Sort by price: low to high</option>
                                    <option>Sort by price: high to low</option>
                                </select>
                                <div class="ps-shopping__view">
                                    <p>View</p>
                                    <ul class="ps-tab-list">
                                        <li class="active"><a href="#tab-1"><i class="icon-grid"></i></a></li>
                                        <li><a href="#tab-2"><i class="icon-list4"></i></a></li>
                                    </ul>
                                </div>
                            </div>-->
                        </div>
                        <div class="ps-tabs">
                            <div class="ps-tab active" id="tab-1">
                                <div class="ps-shopping-product">
                                    <div class="row">
                                        <th:block th:if="${#lists.isEmpty(cateList)}">
                                            <div>
                                                No Products
                                            </div>
                                        </th:block>
                                        <th:block th:if="${not #lists.isEmpty(cateList)}">
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 " th:each="cateList : ${cateList}">
                                                <div class="ps-product">
                                                    <div class="ps-product__thumbnail"><a th:href="@{'/any/product_detail/'+${cateList.get('PRODUCT_SEQ')}}"><img th:src="${cateList.get('URL_PATH_CD')}"></a>
    <!--                                                    <ul class="ps-product__actions">
                                                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                                        </ul>-->
                                                    </div>
                                                    <div class="ps-product__container"><a class="ps-product__vendor" th:href="@{'/any/product_detail/'+${cateList.get('PRODUCT_SEQ')}}" th:text="${cateList.get('BRAND_NM')}"></a>
                                                        <div class="ps-product__content"><a class="ps-product__title" th:text="${cateList.get('PRODUCT_NM')}"></a>
                                                            <!--<p class="ps-product__price">PRICE</p>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
<!--                                <div class="ps-pagination">
                                    <ul class="pagination">
                                        <li class="active"><<button type="button" id="">1</button></li>
                                        <li><button type="button" id="">2</button></li>
                                        <li><button type="button" id="">3</button></li>
                                        <li><button type="button" id="">Next Page<i class="icon-chevron-right"></i></button></li>
                                    </ul>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>