<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-page--shop" id="shop-sidebar">
        <div class="container">
            <div class="ps-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Brands</li>
                        <li th:text="${brandInfo.BRAND_NM}"></li>
                    </ul>
                </div>
            </div>
            <div class="ps-block--vendor">
                <div class="ps-block__thumbnail">
                    <div class="logo-box"><img th:src="${brandInfo.URL_PATH_CD}" alt=""></div>
                    <ul class="ps-list--social-color">
                        <th:block th:if="${!#strings.isEmpty(brandInfo.BRAND_HOMEPAGE_URL)}">
                            <li><a class="home" th:href="${brandInfo.BRAND_HOMEPAGE_URL}" target="_blank"><i class="fa fa-home"></i></a></li>
                        </th:block>
                        <th:block th:if="${!#strings.isEmpty(brandInfo.BRAND_YOUTUBE_URL)}">
                            <li><a class="youtube" th:href="${brandInfo.BRAND_YOUTUBE_URL}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        </th:block>
                        <th:block th:if="${!#strings.isEmpty(brandInfo.BRAND_INSTAGRAM_URL)}">
                            <li><a class="instagram" th:href="${brandInfo.BRAND_INSTAGRAM_URL}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </th:block>
                    </ul>
                </div>
                <div class="ps-block__container">
                    <div class="ps-block__header">
                        <h4 th:text="${brandInfo.BRAND_NM}"></h4>
                    </div>
                    <div class="ps-block__content">
                        <strong class="tit">Brand_Description</strong>
                        <p class="txt" th:utext="${brandInfo.BRAND_INTRODUCTION}"></p>
                        <strong class="tit">Brand Certificate</strong>
                        <p class="txt" id="pBrandCerify"></p>
                    </div>
                </div>
            </div>
            <div class="ps-layout&#45;&#45;shop">
                <div class="ps-layout__left">
                    <aside class="widget widget_shop">
                        <h4 class="widget-title">Categories</h4>
                        <ul class="ps-list&#45;&#45;categories">
                            <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=1, cateCd=1)}">SKINCARE</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu depth-2">

                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=101)}">basic care</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '101'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD})}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=102)}">cleansing/peeling</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '102'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD})}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=103)}">suncare</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '103'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=104)}">mask/pack</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '104'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=105)}">Men Care</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '105'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=106)}">Baby Care</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '106'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=107)}">Mom</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '107'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>


                            <li class="current-menu-item menu-item-has-children"><a th:href="@{'/seller/brand_detail1/2'}">MAKEUP</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu depth-2">

                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=201)}">face</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '201'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=202)}">Lip</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '202'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=203)}">eye</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '203'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=204)}">nail</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '204'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=205)}">Pallet</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '205'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>


                            <li class="current-menu-item menu-item-has-children"><a th:href="@{'/seller/brand_detail1/3'}">body/hair/oral/perfume</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu depth-2">

                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=301)}">body care</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '301'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=302)}">Hair Care</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '302'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=303)}">Oral Care</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '303'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=304)}">Women Perfume</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '304'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=305)}">Men Perfume</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '305'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>



                            <li class="current-menu-item menu-item-has-children"><a th:href="@{'/seller/brand_detail1/4'}">Beauty Device/Brush</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu depth-2">
b
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=401)}">Massage Device</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '401'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=402)}">brush</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '402'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=403)}">facial rollers</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '403'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>

                            <li class="current-menu-item menu-item-has-children"><a th:href="@{'/seller/brand_detail1/5'}">Supplement</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu depth-2">

                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=501)}">Red-ginseng</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '501'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item menu-item-has-children"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=2, cateCd=502)}">Dietary Supplement</a> <span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class="sub-menu depth-3">
                                            <li class="current-menu-item" th:each="category : ${categoryList}" th:if="${category.CATE2_CD == '502'}"><a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brandInfo.BRAND_SEQ}, depth=3, cateCd=${category.CATE3_CD}}" th:text="${category.get('CATE3_NM')}"></a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="ps-layout__right">
                    <div class="ps-shopping ps-tab-root">
                        <div class="ps-shopping__header">
                            <p><strong th:text="${#lists.size(productList)}"> </strong> Products found</p>
                        </div>
                        <div class="ps-tabs">
                            <div class="ps-tab active" id="tab-1">
                                <div class="ps-shopping-product">
                                    <div class="row">
                                        <th:block th:if="${#lists.isEmpty(productList)}">
                                            <p>There is no registered product</p>
                                        </th:block>
                                        <th:block th:if="${not #lists.isEmpty(productList)}">
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 " th:each="productList : ${productList}">
                                                <div class="ps-product">
                                                    <div class="ps-product__thumbnail"><a th:href="@{'/any/product_detail/'+${productList.get('PRODUCT_SEQ')}}"><img th:src="${productList.get('URL_PATH_CD')}"></a></div>
                                                    <div class="ps-product__container"><a class="ps-product__vendor" th:href="@{'/any/product_detail/'+${productList.get('PRODUCT_SEQ')}}" th:text="${productList.get('BRAND_NM')}"></a>
                                                        <div class="ps-product__content"><a class="ps-product__title" th:text="${productList.get('PRODUCT_NM')}"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $(() => {
            PageScope.init();
        });

        const PageScope = {

            brandCerify: null,

            init() {
                this.brandCerify = /*[[${brandInfo.BRAND_CERIFY}]]*/ 'default' || '';

                this.bindFields();
            },

            bindFields() {
                if (this.brandCerify) {
                    const brandCerifyNm = this.brandCerify.split(',').map(cerify => {
                        return BRAND_CERIFY[cerify];
                    });
                    $('#pBrandCerify').text(`Keyword: ${brandCerifyNm.join(', ')}`);
                }
            }
        };
    </script>
</th:block>
</html>