<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-store-list pt-0">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-breadcrumb type-bg">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Brands</li>
                    </ul>
                </div>
            </div>
            <div class="ps-section__wrapper">
                <div class="brand-list-wrap">
                    <div class="sort">
                        <a href="#" class="active">All</a>
                        <a href="#">A</a>
                        <a href="#">B</a>
                        <a href="#">C</a>
                        <a href="#">D</a>
                        <a href="#">E</a>
                        <a href="#">F</a>
                        <a href="#">G</a>
                        <a href="#">H</a>
                        <a href="#">I</a>
                        <a href="#">J</a>
                        <a href="#" class="disabled">K</a>
                        <a href="#" class="disabled">L</a>
                        <a href="#">M</a>
                        <a href="#">N</a>
                        <a href="#">O</a>
                        <a href="#">P</a>
                        <a href="#">Q</a>
                        <a href="#">R</a>
                        <a href="#">S</a>
                        <a href="#">T</a>
                        <a href="#">U</a>
                        <a href="#">V</a>
                        <a href="#">W</a>
                        <a href="#">X</a>
                        <a href="#">Y</a>
                        <a href="#">Z</a>
                        <a href="#">etc</a>
                    </div>
                    <ul class="list-box">
                       <li>
                           <strong class="tit">A</strong>
                           <div>
                               <a href="#" class="item">
                                   <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                   <span class="name">AAA</span>
                                   <span class="num">(12)</span>
                               </a>
                               <a href="#" class="item">
                                   <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                   <span class="name">AAA</span>
                                   <span class="num">(12)</span>
                               </a>
                               <a href="#" class="item">
                                   <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                   <span class="name">AAA</span>
                                   <span class="num">(12)</span>
                               </a>
                               <a href="#" class="item">
                                   <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                   <span class="name">AAA</span>
                                   <span class="num">(12)</span>
                               </a>
                               <a href="#" class="item">
                                   <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                   <span class="name">AAA</span>
                                   <span class="num">(12)</span>
                               </a>
                           </div>
                       </li>
                        <li>
                            <strong class="tit">B</strong>
                            <div>
                                <a href="#" class="item">
                                    <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                    <span class="name">AAA</span>
                                    <span class="num">(12)</span>
                                </a>
                                <a href="#" class="item">
                                    <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                    <span class="name">AAA</span>
                                    <span class="num">(12)</span>
                                </a>
                                <a href="#" class="item">
                                    <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                    <span class="name">AAA</span>
                                    <span class="num">(12)</span>
                                </a>
                                <a href="#" class="item">
                                    <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                    <span class="name">AAA</span>
                                    <span class="num">(12)</span>
                                </a>
                                <a href="#" class="item">
                                    <div class="img-box"><img src="https://images.innisfree.co.kr/resources/web2/images/common/logo_basic.png" alt=""></div>
                                    <span class="name">AAA</span>
                                    <span class="num">(12)</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //.container : E -->
    </div>

</th:block>
</html>