<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-store-list pt-0">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-breadcrumb type-bg">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Brands</li>
                    </ul>
                </div>
            </div>
            <div class="ps-section__wrapper">
                <div class="brand-list-wrap">
                    <div id="dvAlpabet" class="sort">
                        <a id="aA" href="#s1" class="active">A</a>
                        <a id="aB" href="#s2">B</a>
                        <a id="aC" href="#s3">C</a>
                        <a id="aD" href="#s4">D</a>
                        <a id="aE" href="#s5">E</a>
                        <a id="aF" href="#s6">F</a>
                        <a id="aG" href="#s7">G</a>
                        <a id="aH" href="#s8">H</a>
                        <a id="aI" href="#s9">I</a>
                        <a id="aJ" href="#s10">J</a>
                        <a id="aK" href="#s11">K</a>
                        <a id="aL" href="#s12">L</a>
                        <a id="aM" href="#s13">M</a>
                        <a id="aN" href="#s14">N</a>
                        <a id="aO" href="#s15">O</a>
                        <a id="aP" href="#s16">P</a>
                        <a id="aQ" href="#s17">Q</a>
                        <a id="aR" href="#s18">R</a>
                        <a id="aS" href="#s19">S</a>
                        <a id="aT" href="#s20">T</a>
                        <a id="aU" href="#s21">U</a>
                        <a id="aV" href="#s22">V</a>
                        <a id="aW" href="#s23">W</a>
                        <a id="aX" href="#s24">X</a>
                        <a id="aY" href="#s25">Y</a>
                        <a id="aZ" href="#s26">Z</a>
                        <a id="aETC" href="#s27">ETC</a>
                    </div>
                    <ul class="list-box">
                        <li id="s1">
                           <strong class="tit">A</strong>
                           <div>
                               <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_A}">
                                   <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                   <span class="name" th:text="${brand.BRAND_NM}"></span>
                                   <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                               </a>
                           </div>
                        </li>
                        <li id="s2">
                            <strong class="tit">B</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_B}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s3">
                            <strong class="tit">C</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_C}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s4">
                            <strong class="tit">D</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_D}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s5">
                            <strong class="tit">E</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_E}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s6">
                            <strong class="tit">F</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_F}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s7">
                            <strong class="tit">G</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_G}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s8">
                            <strong class="tit">H</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_H}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s9">
                            <strong class="tit">I</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_I}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s10">
                            <strong class="tit">J</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_J}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s11">
                            <strong class="tit">K</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_K}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s12">
                            <strong class="tit">L</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_L}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s13">
                            <strong class="tit">M</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_M}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s14">
                            <strong class="tit">N</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_N}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s15">
                            <strong class="tit">O</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_O}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s16">
                            <strong class="tit">P</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_P}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s17">
                            <strong class="tit">Q</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_Q}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s18">
                            <strong class="tit">R</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_R}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s19">
                            <strong class="tit">S</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_S}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s20">
                            <strong class="tit">T</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_T}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s21">
                            <strong class="tit">U</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_U}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s22">
                            <strong class="tit">V</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_V}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s23">
                            <strong class="tit">W</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_W}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s24">
                            <strong class="tit">X</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_X}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s25">
                            <strong class="tit">Y</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_Y}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s26">
                            <strong class="tit">Z</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_Z}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                        <li id="s27">
                            <strong class="tit">ETC</strong>
                            <div>
                                <a th:href="@{/any/brand_detail/{brandSeq}(brandSeq=${brand.BRAND_SEQ})}" class="item" th:each="brand : ${brandMap.BRAND_ETC}">
                                    <div class="img-box"><img th:src="${brand.URL_PATH_CD}" alt=""></div>
                                    <span class="name" th:text="${brand.BRAND_NM}"></span>
                                    <span class="num" th:text="|PRODUCT COUNT: ${brand.PRODUCT_CNT}|"></span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //.container : E -->
    </div>

    <script type="text/javascript" th:inline="javascript">
        $(() => {
            PageScope.init();
        });
    
        const PageScope = {
            
            init() {
                
                const brandMap = /*[[${brandMap}]]*/ 'default' || {};
                if (brandMap.BRAND_A.length <= 0) $('#aA').addClass('disabled');
                if (brandMap.BRAND_B.length <= 0) $('#aB').addClass('disabled');
                if (brandMap.BRAND_C.length <= 0) $('#aC').addClass('disabled');
                if (brandMap.BRAND_D.length <= 0) $('#aD').addClass('disabled');
                if (brandMap.BRAND_E.length <= 0) $('#aE').addClass('disabled');
                if (brandMap.BRAND_F.length <= 0) $('#aF').addClass('disabled');
                if (brandMap.BRAND_G.length <= 0) $('#aG').addClass('disabled');
                if (brandMap.BRAND_H.length <= 0) $('#aH').addClass('disabled');
                if (brandMap.BRAND_I.length <= 0) $('#aI').addClass('disabled');
                if (brandMap.BRAND_J.length <= 0) $('#aJ').addClass('disabled');
                if (brandMap.BRAND_K.length <= 0) $('#aK').addClass('disabled');
                if (brandMap.BRAND_L.length <= 0) $('#aL').addClass('disabled');
                if (brandMap.BRAND_M.length <= 0) $('#aM').addClass('disabled');
                if (brandMap.BRAND_N.length <= 0) $('#aN').addClass('disabled');
                if (brandMap.BRAND_O.length <= 0) $('#aO').addClass('disabled');
                if (brandMap.BRAND_P.length <= 0) $('#aP').addClass('disabled');
                if (brandMap.BRAND_Q.length <= 0) $('#aQ').addClass('disabled');
                if (brandMap.BRAND_R.length <= 0) $('#aR').addClass('disabled');
                if (brandMap.BRAND_S.length <= 0) $('#aS').addClass('disabled');
                if (brandMap.BRAND_T.length <= 0) $('#aT').addClass('disabled');
                if (brandMap.BRAND_U.length <= 0) $('#aU').addClass('disabled');
                if (brandMap.BRAND_V.length <= 0) $('#aV').addClass('disabled');
                if (brandMap.BRAND_W.length <= 0) $('#aW').addClass('disabled');
                if (brandMap.BRAND_X.length <= 0) $('#aX').addClass('disabled');
                if (brandMap.BRAND_Y.length <= 0) $('#aY').addClass('disabled');
                if (brandMap.BRAND_Z.length <= 0) $('#aZ').addClass('disabled');
                if (brandMap.BRAND_ETC.length <= 0) $('#aETC').addClass('disabled');

                this.anchorEvent();
            },
            anchorEvent(){
                $('.brand-list-wrap .sort').find('a[href^="#"]').on('click',function(e){
                    e.preventDefault();
                    const target = $(this.hash);
                    const headerTop = $('.header .header__top').outerHeight() + 50;
                    const targetTop = target.offset().top - headerTop;
                    $('html,body').animate({scrollTop:targetTop}, 300);
                });
            }
        };

    </script>
</th:block>
</html>