<script th:src="@{/plugins/jquery-1.12.4.min.js}"></script>
<script th:src="@{/plugins/popper.min.js}"></script>
<script th:src="@{/plugins/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/plugins/bootstrap4/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/plugins/masonry.pkgd.min.js}"></script>
<script th:src="@{/plugins/isotope.pkgd.min.js}"></script>
<script th:src="@{/plugins/jquery.matchHeight-min.js}"></script>
<script th:src="@{/plugins/slick/slick/slick.min.js}"></script>
<script th:src="@{/plugins/jquery-bar-rating/dist/jquery.barrating.min.js}"></script>
<script th:src="@{/plugins/slick-animation.min.js}"></script>
<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/plugins/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>
<script th:src="@{/plugins/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/select2/dist/js/select2.full.min.js}"></script>
<script th:src="@{/plugins/gmap3.min.js}"></script>
<!-- custom scripts-->
<script th:src="@{/js/main.js"}"></script>
<script th:src="@{/https://maps.googleapis.com/maps/api/js?key=AIzaSyDxflHHc5FlDVI-J71pO7hM1QJNW1dRp4U&amp;region=GB}"></script>