@charset "UTF-8";
 /* common */
.ps-store-list .btn-box{position:relative;text-align:center;}
.ps-store-list .btn-box .ps-btn{margin:40px 0 20px;}
.ps-store-list .ps-breadcrumb.type-bg{background:transparent;}
.no_data{text-align:center;color:#666;font-size:15px;margin:20px 0;border:1px solid #ededed;padding:30px 0;}
.no_data .fa-exclamation-circle{margin-right:10px;vertical-align: baseline;}
.no_data .fa-exclamation-circle:before{font-size:22px;color:#ccc;}
.ps-radio label,
.ps-checkbox label{font-size: 15px;color: #000;}
.ps-radio label:before {width:18px;height:18px;}
.ps-radio input[type=radio]:checked ~ label:before {background-color:transparent;border-color:#000;}
.ps-radio input[type=radio]:checked ~ label:after {top:4px;left:4px;-webkit-transform:scale(1, 1);transform:scale(1, 1);opacity:1;background-color:#000;}
.filebox input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}
.filebox .form-control{display:inline-block;width:73%;height:30px;vertical-align:middle;}
.filebox .ps-btn{padding: 5px 20px;margin-bottom: 0;font-size: 13px;}
.ps-btn.type-green{background:#88aa00;color:#fff;}
.ps-btn.type-green:hover{background:#9cc400;}
.ps-btn.type-black{background:#000;color:#fff;}
.ps-btn.type-gray{background:#f5f5f5;color:#000;}
.ps-btn.type-gray:hover{background:#c0c0c0;color:#000;}
.ps-btn.type-gray02{background:#b5b5b5;}
.ps-btn.type-orange{background:#f05025;padding:0 16px;height:34px;border-radius:5px;color:#fff;}
.ps-btn.type-red{background:#f14705;}
.ps-btn[disabled]{background: #e2e2e2;color: #fff;pointer-events:none;}
.btn-back{top:13px!important;font-size:16px;font-weight:600;border:0;background:#fff;color:#109fd6;}
.btn-back .fa{font-size:19px;}
.txt-drag{color:#b1b1b1;}
.txt-ex{display:block;margin-top:4px;color:red;font-size:13px;}
label .required{color:red;font-weight:700;}
table tbody tr td.link-type a,
table tbody tr td.link-type a:hover{color:#fcb800!important;text-decoration:underline;font-weight:500;}
table tbody tr td.txt-left{padding-left:30px;}
table tbody tr td.no_data{padding:30px 0;}
table tbody tr td .img-box{width:80px;height:80px;margin:0 auto;border:1px solid #ededed;}
table tbody tr td .img-box img{width:100%;height:100%;object-fit:contain;}
table tbody tr td .btns.type .ps-btn{width:90px;display:block;margin:0 auto 5px;font-size:14px;}
table tbody tr td .delete{width:30px;height:30px;border-radius:100%;padding:0;}
table tbody tr td .delete .fa{color:#fff;}
table tbody tr td .prd-box{display:flex;align-items:center;}
table tbody tr td .prd-box .name{font-weight:500;color:#09c}
table tbody tr td .prd-box .img-box{display:inline-block;margin:0 15px 0 0;width:100px;height:100px;border:1px solid #ededed;}
.form-control:disabled, .form-control[readonly]{background:#f5f5f5;}
.btns{min-height:50px;position:relative;text-align:center;margin:50px 0;}
.btns .ab-r{position:absolute;right:0;top:0;}
.bul-type{position:relative;padding-left:10px;font-weight:bold;}
.bul-type:before{content:'';display:block;position:absolute;left:0;top:50%;width:4px;height:4px;background:#cecece;margin-top:-3px;}
.date{color: #555;font-size:12px;}
.ab-r{position:absolute;right:0;top:0;}
.btn-box.txt-left .ab-r{top:75px;}
.txt-left{text-align:left!important;}
.txt-right{text-align:right!important;}
.total{color:#000;}
.total em{font-style:normal;font-weight:600;}
/* contents */
.ps-home-banner .ps-section__left .mega-menu.type{display:block;min-width:930px;}
.ps-home-banner .ps-section__left .mega-menu.type li{vertical-align:top;padding-right:0;}
.ps-home-banner .ps-section__left .mega-menu.type li .mega-menu__column{min-width: 165px;display: inline-block;vertical-align: top;}
.ps-block__header{position:relative;}
.ps-block__header .ps-btn{font-size:14px;}
.ps-block__header .ab-r{position:absolute;right:0;top:0;padding:6px 18px;}
.ps-block__header .date{margin-top:12px;color:#555;font-size:12px;}
.ps-block__header.type-mt{margin-top:60px;}
.ps-block__content .txt-info02,
.ps-tab .txt-info02{display:block;color:#dc3545;font-size:12px;margin-bottom:10px;font-weight:bold}
.ps-block__content .upload_box .img_logo{display:inline-flex;width:250px;height:200px;border:1px solid #ddd;justify-content:center;align-items:center;overflow:hidden;}
.ps-block__content .upload_box .img_logo img,
.ps-product--detail .photo-upload li .prd-photo img,
.ps-page--shop .ps-block--vendor .ps-block__thumbnail .logo-box img{width:100%;height:100%;object-fit:contain}
.ps-block__content .upload_box .img_logo .dz-preview,
.ps-block__content .upload_box .img_logo .dz-image,
.ps-product--detail .photo-upload li .prd-photo .dz-preview{width:100%;height:100%}
.ps-block__content .upload_box .img_logo .dz-preview{text-align:center;}
.ps-block__content .upload_box .img_logo .dz-preview .dz-image{height:80%;}
.ps-block__content .upload_box .img_logo .dz-preview .dz-remove{width:90%;margin-top:8px;}
.ps-block__content .upload_box .ps-btn{vertical-align:top;padding:10px 20px;}
.ps-block__content .upload_box .txt-file{font-size:12px;vertical-align:top;display:inline-block;line-height:40px;margin-left:4px;}
.ps-block__content .info-list > li{margin-bottom:10px;}
.ps-block__content .info-list > li .tit-info{font-size:15px;}
.ps-block__content .info-list > li a{color:#06c;text-decoration:underline;}
.ps-block__content .info-list > li .type-list{margin:4px 0 0 10px;line-height:24px;}
.ps-block__content .info-list > li .btn-file{font-size:14px;text-decoration:none;margin-left:10px;}
.ps-block__content .info-list > li .btn-file .fa{margin-right:3px;}
.ps-block__content textarea.form-control{height:250px;}
.ps-block__content.contact-box{width:50%;margin:0 auto;}
.ps-block__content.contact-box .prd-wrap{overflow:hidden}
.ps-block__content.contact-box .item{float:left;width:140px;margin:13px 13px 0 0;}
.ps-block__content.contact-box .item:nth-child(4n){margin-right:0;}
.ps-block__content.contact-box .item .img-box{width:140px;height:140px;border:1px solid #ededed;display:inline-block;}
.ps-block__content.contact-box .item .img-box img{width:100%;height:100%;object-fit:contain;}
.ps-block__content.contact-box .item .name{display:block;width:140px;color:#000;font-weight:500;font-size:13px;margin-top:5px;}
.ps-block__content .search-box,
.ps-layout--shop .search-box{margin-bottom:30px}
.ps-block__content .search-box .form-control,
.ps-block__content .search-box .select2,
.ps-layout--shop .search-box .form-control,
.ps-layout--shop .search-box .select2{display:inline-block;height:40px;vertical-align:middle;}
.ps-block__content .search-box .select2 .select2-selection--single .select2-selection__rendered,
.ps-layout--shop .search-box .select2 .select2-selection--single .select2-selection__rendered{padding:0 8px;line-height:38px;vertical-align:middle;}
.ps-block__content .search-box .ps-btn,
.ps-layout--shop .search-box .ps-btn{padding:0 20px;height:40px;vertical-align:middle;}
.ps-block--vendor-dashboard .ps-table tbody > tr > td .txt-msg{text-align:left;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;line-height:20px;height:40px;color:#000;}
.ps-section__right .brand-list{border-top:1px solid #e1e1e1;padding-top:30px;}
.ps-section__right .brand-list li{position:relative;display:inline-block;min-width:184px;width:calc((100% / 5) - 12px);margin:6px 3px;text-align:center;padding:2% 0 4%;border:1px solid #eaeaea;border-radius:20px;box-sizing:border-box;}
.ps-section__right .brand-list li.on{border:0;}
.ps-section__right .brand-list li.on:before{position:absolute;left:0;top:0;content:'';display:block;width:100%;height:100%;border:2px solid #f05025;border-radius:20px;}
.ps-section__right .brand-list li .img-box{width:150px;height:150px;margin:0 auto 20px;border:1px solid #ededed;border-radius:20px;overflow:hidden;}
.ps-section__right .brand-list li .img-box a{display:block;width:150px;height:150px;}
.ps-section__right .brand-list li .img-box img{max-width:100%;height:100%;object-fit: contain;}
.ps-section__right .brand-list li .ps-btn{height:40px;padding:10px 12px;font-size:14px;line-height:14px;}
.ps-section__right .brand-list li .ps-btn.type-orange{border:1px solid #f05025;color:#f05025;background:#fff;position: absolute;left: 50%;bottom: 6%;transform: translateX(-50%);}
.ps-section__right .brand-list .btn-row .ps-btn.type-orange{position:inherit;transform: inherit;}
.select2-container--default .select2-selection--single{border-color:#ddd;}
.ps-product--detail > .ps-product__content{padding-top:0;border-bottom:1px solid #e1e1e1;padding-bottom:50px;}
.ps-product--detail > .ps-product__content.ps-tab-root{border-bottom:0;margin-top:100px;}
.ps-product--detail .ps-product__meta{min-height:30px;}
.ps-product--detail .ps-product__meta p:after{display:none;}
.ps-product--detail h1{font-weight:700;}
.ps-product--detail .ps-product__price .num{color:#fcb800;font-weight:700;}
.ps-product--detail .ps-product__desc{border-top:1px solid #e1e1e1;border-bottom:0;padding-top:20px;}
.ps-product--detail .btn-box{text-align:center;}
.ps-product--detail .btn-box .ps-btn{display:inline-block;width:45%!important;color:#fff;}
.ps-product--detail .btn-box .ps-btn.type-pink{background:#f55743;}
.ps-product--detail .btn-box .ps-btn.type-pink:hover{background:#222}
.ps-product--detail .btn-box .ps-btn.type-pink[disabled]{background:#ffada3;}
.ps-product--detail .tbl-price{width:100%;}
.ps-product--detail .tbl-price th,
.ps-product--detail .tbl-price td{text-align:center;padding:5px 0;border:1px solid #eaeaea;}
.ps-product--detail .tbl-price th{font-weight:500;background:#f5f5f5;}
.ps-product--detail .tbl-price + .txt-impt{margin:5px 0 20px;font-size:13px;font-weight:500;}
.ps-product--detail .ps-product__desc ul li:before{top:8px;}
.ps-product--detail .logo-box{width:30%;margin-bottom:50px;}
.ps-product--detail .select2{width:100%!important;}
.ps-product--detail .select-col3{overflow:hidden;}
.ps-product--detail .select-col3 .select2{float:left;width:calc((100% / 3) - 3px)!important;margin-left:4px;}
.ps-product--detail .select-col3 .type-first + .select2{margin-left:0}
.ps-product--detail .radio-wrap .ps-radio,
.ps-product--detail .chk-wrap .ps-checkbox{display:inline-block;margin-right:20px;}
.ps-product--detail .chk-wrap .ps-checkbox + input{width: 150px; display: inline-block; height: 30px;margin-left:-10px;}
.ps-product--detail .txt-impt{color:#f14705;font-weight:600;}
.ps-product--detail .photo-upload{text-align:center;}
.ps-product--detail .photo-upload li{position:relative;width:215px;line-height:0;display:inline-block;text-align:center;margin:0 15px 25px;vertical-align:top;}
.ps-product--detail .photo-upload li .prd-photo{display:inline-flex;width:100%;height:291px;border:1px solid #ddd;align-items:center;justify-content:center;}
.ps-product--detail .photo-upload li .txt{display:block;line-height:20px;margin-top:5px;font-weight:600;}
.ps-product--detail .photo-upload li .flag{position:absolute;left:1px;top:1px;height:25px;padding:0 8px;background:#1b9dec;color:#fff;font-weight:600;font-size:13px;line-height:25px;}
.ps-product--detail .photo-upload li .dz-remove{width: 90%;margin-top:3px;}
.ps-product--detail .photo-upload li .dz-image img{height:80%}
.ps-product--detail .photo-upload li .dz-file-preview .dz-image,
.ps-product--detail .photo-upload li .dz-complete .dz-image{height:80%}
.ps-product--detail .photo-upload li .dz-file-preview .dz-image img,
.ps-product--detail .photo-upload li .dz-complete .dz-image img{height:100%}
.ps-product--detail .photo-upload li .dz-file-preview .dz-remove,
.ps-product--detail .photo-upload li .dz-complete .dz-remove{margin-top:18px;}
.ps-product--detail .table_wrap{position:relative;padding-bottom:50px;margin-top:20px;}
.ps-product--detail .table_wrap .dataTables_wrapper{height:335px;overflow-y:auto;margin-bottom:30px;}
.ps-product--detail .table_wrap table{width:100%!important;}
.ps-product--detail .table_wrap table thead th,
.ps-product--detail .table_wrap table tbody td{border:1px solid #ededed;text-align:center;padding:10px 0;font-size:13px;}
.ps-product--detail .table_wrap table thead th{font-weight:700;background:#f6f6f6;}
.ps-product--detail .table_wrap table .last{background:#f5fbff;}
.ps-product--detail .table_wrap .btns{position:absolute;right:0;bottom:0;margin:0;}
.ps-product--detail .table_wrap .ps-btn{padding:10px 20px;font-size:13px;}
.register{padding-bottom:50px;}
.register .form-group .form-control.type-inline{width:290px;display:inline-block;height:30px;padding:0 10px;font-size:13px;}
.register .form-group .chk-wrap{margin-bottom:5px;}
.register .form-group .chk-wrap .ps-checkbox{width:85px;display:inline-block;}
.register .agreeContents.type-line{margin-top: 50px;border-top: 1px solid #e1e1e1;padding-top: 3rem!important;}
.register .agreeContents > a{display:block;}
#homepage-5{padding:0;}
#homepage-5 .ps-home-banner .ps-section__center{max-width:100%;}
#homepage-5 .ps-home-banner .ps-section__center .visual{width:100%;height:436px;overflow:hidden;}
#homepage-5 .ps-block--countdown-deal .ps-block__left h3,
#homepage-5 .ps-search-trending .ps-section__header h3{font-size:24px;font-weight:600;}
#homepage-5 .ps-deal-of-day{margin:60px 0 0;}
#homepage-5 .ps-deal-of-day .no_data{border:0;}
#homepage-5 .ps-deal-of-day .ps-product__thumbnail,
#homepage-5 .ps-search-trending .ps-product__thumbnail{width:220px;height:220px;}
#homepage-5 .ps-deal-of-day .ps-product__container,
#homepage-5 .ps-search-trending .ps-product__container{width:220px;}
#homepage-5 .ps-deal-of-day .owl-stage-outer{padding-left:5px;}
#homepage-5 .ps-brand-logo{padding:60px 0;}
#homepage-5 .ps-brand-logo .ps-product .ps-product__thumbnail{width:150px;height:150px;}
#homepage-5 .ps-deal-of-day .ps-section__content{padding:30px;}
#homepage-5 .ps-deal-of-day .ps-product{padding:0 15px 0;}
#homepage-5 .ps-product .ps-product__price{color:#f30!important;font-weight:500;font-size:17px;}
#homepage-5 .ps-product:hover{border-color:transparent;}
#homepage-5 .ps-product:hover .ps-product__content {visibility: visible;opacity: 1;height: auto;}
/*#homepage-5 .ps-product .ps-product__thumbnail{width:100%;height:200px;}*/
#homepage-5 .ps-product .ps-product__thumbnail img{width:100%;height:100%;object-fit: contain;}
#homepage-5 .ps-deal-of-day .ps-carousel--nav .owl-nav .owl-next{margin-right:-30px!important;}
#homepage-5 .ps-deal-of-day .ps-carousel--nav .owl-nav .owl-prev{margin-left:-30px!important;}
#homepage-5 .ps-block--categories-tabs .ps-tab-list a{font-size:15px;border:0;}
#homepage-5 .ps-block--categories-tabs .ps-tab-list a.active{color:#000;font-weight:600;border:0;}
#homepage-5 .ps-block--categories-tabs .ps-tab{padding:20px 0 60px;}
#homepage-5 .ps-block--categories-tabs .owl-carousel .owl-stage{display:flex;align-items:center}
#homepage-5 .ps-search-trending{padding:60px 0 0;}
#homepage-5 .ps-search-trending .no_data{border:0;text-align:center;margin-top:40px;}
#homepage-5 .ps-search-trending .ps-product{padding:20px 0 0;}
.ps-page--shop .ps-block--vendor{overflow:hidden;margin-bottom:70px;}
.ps-page--shop .ps-block--vendor .ps-block__thumbnail{float:left;width:20%;}
.ps-page--shop .ps-block--vendor .ps-block__thumbnail .logo-box{width:160px;height:160px;margin:0 auto;}
.ps-page--shop .ps-block--vendor .ps-list--social-color{text-align:center;margin-top:20px;}
.ps-page--shop .ps-block--vendor .ps-list--social-color .home{background:#09c}
.ps-page--shop .ps-block--vendor .ps-list--social-color .youtube{background:#ff0000}
.ps-page--shop .ps-block--vendor .ps-list--social-color .instagram{background:#C32AA3}
.ps-page--shop .ps-block--vendor .ps-block__container{float:left;width:80%;padding:10px 25px;box-sizing:border-box;}
.ps-page--shop .ps-block--vendor .ps-block__container{background:#fff;}
.ps-page--shop .ps-block--vendor .ps-block__container .ps-block__header h4{text-transform:none;font-size:25px;font-weight:700;margin-bottom:25px;border-bottom:1px solid #e2e1e1;padding-bottom:10px;}
.ps-page--shop .ps-block--vendor .ps-block__content .tit{position:relative;font-size:16px;font-weight:600;padding-left:10px;}
.ps-page--shop .ps-block--vendor .ps-block__content .tit:before{content:'';display:block;position:absolute;left:0;top:8px;width:4px;height:4px;background:#000;}
.ps-page--shop .ps-block--vendor .ps-block__content .txt{font-size:15px;padding-left:10px;}
.ps-my-signin .txt-fail{color:#ff2323;text-align:center;font-size:14px;font-weight:500;background:#fde7de;max-width:430px;margin:0 auto;padding:10px 0;border:1px solid #ffacac;}
#tblProduct tbody td .btns{min-height:auto;margin:0;}
#tblProduct tbody tr td .btns .ps-btn{position:relative;width:68px;color:#09c;padding:0;font-size:14px;background:#fff;font-weight:500;margin:0 -2px;}
#tblProduct tbody tr td .btns .ps-btn:before{position:absolute;left:0;top:5px;content:'';display:block;width:1px;height:10px;background:#ccc;}
#tblProduct tbody tr td .btns .ps-btn:first-child:before{display:none;}
#tblProduct tbody tr td .btns .ps-btn.type-red{color:#f30;}
.price-info-box{position:relative;}
.price-info-box .btn-login{position: absolute;left: 0;top: 0px;display:flex;align-items:center;justify-content:center;width: 100%;background:rgb(204, 204, 204);height: 100%;color: #fff;font-size: 18px;font-weight: 600;border-radius: 4px;}
.price-info-box .btn-login span{}
.ps-table--vendor td .btns.type{margin:0;}
.ps-table--vendor td .btns.type .ps-btn{padding:5px 15px;font-size:13px;}
.ps-table--vendor td .tooltip-box{position:relative;}
.ps-table--vendor td .tooltip-box .cont{display:none;position:absolute;left:-60px;top:32px;min-width:300px;border:1px solid #333;background:#fff;padding:30px 12px 12px 12px;border-radius:5px;z-index:10;box-sizing:border-box;}
.ps-table--vendor td .tooltip-box .cont:before{content:'';display:block;position:absolute;left:105px;top:-5px;width:8px;height:8px;border-top:1px solid #333;border-right:1px solid #333;background:#fff;transform:rotate(-45deg);}
.ps-table--vendor td .tooltip-box .cont table th,
.ps-table--vendor td .tooltip-box .cont table td{vertical-align:middle;font-size:12px;line-height:14px;}
.ps-table--vendor td .tooltip-box .cont .txt-impt{text-align:left;font-size:11px;color:#f14705;margin:2px 0 0;}
.ps-table--vendor td .tooltip-box .cont .btn-close{display:block;position:absolute;right:5px;top:5px;width:18px;height:18px;line-height:18px;background:#000;text-align:center;color:#fff;font-size:12px;border-radius:50%;}
.ps-shopping-product .no_data{width:100%;border:0;margin:20px 15px;}
.brand-list-wrap{margin-top:40px;padding:0 50px;}
.brand-list-wrap .sort{border-bottom:1px solid #e2e1e1;padding-bottom:10px;margin-bottom:30px;text-align:center;}
.brand-list-wrap .sort a{font-size:16px;display:inline-block;padding:4px 10px;font-weight:600;border-radius:10px;}
.brand-list-wrap .sort a.active{background:#fcb800;color:#fff;}
.brand-list-wrap .sort a.disabled{color:#dedbdb;pointer-events:none;}
.brand-list-wrap .list-box > li{border-bottom:1px solid #f1f1f1;padding:40px 0;overflow:hidden;}
.brand-list-wrap .list-box > li:last-child{border-bottom:0;}
.brand-list-wrap .list-box > li .tit{float:left;width:50px;font-size:24px;}
.brand-list-wrap .list-box > li div{float:left;width:calc(100% - 50px)}
.brand-list-wrap .list-box > li .item{display:inline-block;width:200px;height:200px;margin:3px;border:1px solid #f1f1f1;text-align:center;}
.brand-list-wrap .list-box > li .item .img-box{width:100%;height:70%;box-sizing:border-box;margin-bottom:8px;}
.brand-list-wrap .list-box > li .item .img-box img{width:100%;height:100%;object-fit:contain;}
.brand-list-wrap .list-box > li .name,
.brand-list-wrap .list-box > li .num{display:block;color:#333;font-weight:500;}
.brand-list-wrap .list-box > li .name{display:block;width:100%;padding:0 10px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
.ps-form--account .ps-checkbox > label em{color:#09c;text-decoration:underline;font-style:normal;}
.ps-shopping.ps-tab-root .ps-product .ps-product__thumbnail{width:165px;height:165px;}
.ps-shopping.ps-tab-root .ps-product .ps-product__thumbnail img{width:100%;height:100%;object-fit:contain;}
.youtube-area {border: 1px solid #f1f1f1;margin-top:20px}
/* popup */
.jquery-modal.blocker{z-index:10;}
.modal_popup{width:80%;height:80%;padding:40px 20px 40px 40px!important;}
.modal_popup .pop-content{overflow-y:auto;overflow-x:hidden;height:100%;padding-right:20px;}
.modal_popup .pop-content .tit{font-size:18px;}
.modal_popup .pop-content .depth-1 > li{font-size:15px;font-weight:600;margin-bottom:10px;}
.modal_popup .pop-content .depth-2 > li{font-size:14px;margin-bottom:4px;}
.modal_popup .pop-content .depth-3{padding-left:15px;}
.modal_popup .pop-content .depth-3 > li{font-size:13px;line-height:20px;}
.modal_popup .pop-content p{font-size:14px;margin-bottom:4px;color:#000;}
.modal_popup .btn-box{padding:40px 0;text-align:center;}

@media (max-width:414px){
    .register .form-group .form-control.type-inline{width:100%;padding:0 20px;}
}
@media (max-width:768px) {
    #homepage-5 .container{padding:0;}
    #homepage-5 .ps-home-banner .ps-section__center .visual{height:auto!important;}
    #homepage-5 .ps-deal-of-day{margin:30px 0 0!important;}
    #homepage-5 .ps-search-trending{padding:30px 0;}
    #homepage-5 .ps-search-trending .ps-section__header h3{padding-left:15px;}
    #homepage-5 .ps-deal-of-day .ps-product__thumbnail, #homepage-5 .ps-search-trending .ps-product__thumbnail{width:110px;height:110px;}
    #homepage-5 .ps-deal-of-day .ps-product__container, #homepage-5 .ps-search-trending .ps-product__container{width:110px;}

    .btns .ab-r{position:relative;right:inherit;}
    .btns .ps-btn{padding:15px 18px;}
    .filebox .form-control{width:64%;}
}



