<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="headFragment">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/fonts/Linearicons/Linearicons/Font/demo-files/demo.css}" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap4/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/plugins/owl-carousel/assets/owl.carousel.css}" />
    <link rel="stylesheet" th:href="@{/plugins/slick/slick/slick.css}" />
    <link rel="stylesheet" th:href="@{/plugins/lightGallery-master/dist/css/lightgallery.min.css}" />
    <link rel="stylesheet" th:href="@{/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css}" />
    <link rel="stylesheet" th:href="@{/plugins/jquery-ui/jquery-ui.min.css}" />
    <link rel="stylesheet" th:href="@{/plugins/select2/dist/css/select2.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/market-place-1.css}" />
    <link rel="stylesheet" th:href="@{/css/contents.css}" />

</head>
</html>