<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<header class="header header--market-place-3" data-sticky="true">
    <div class="header__top">
        <div class="container">
            <div class="header__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Category</span></div>
                    <div class="menu__content">
                        <ul class="menu--dropdown">
                            <li class="current-menu-item "><a href="#"><i class="icon-star"></i> Brands</a>
                            </li>
                            <li class="current-menu-item menu-item-has-children has-mega-menu"><a href="#"><i class="icon-laundry"></i> Consumer Electronic</a>
                                <div class="mega-menu">
                                    <div class="mega-menu__column">
                                        <h4>Electronic<span class="sub-toggle"></span></h4>
                                        <ul class="mega-menu__list">
                                            <li class="current-menu-item "><a href="#">Home Audio &amp; Theathers</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">TV &amp; Videos</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Camera, Photos &amp; Videos</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Cellphones &amp; Accessories</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Headphones</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Videosgames</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Wireless Speakers</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Office Electronic</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mega-menu__column">
                                        <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
                                        <ul class="mega-menu__list">
                                            <li class="current-menu-item "><a href="#">Digital Cables</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Audio &amp; Video Cables</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Batteries</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-shirt"></i> Clothing &amp; Apparel</a>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-lampshade"></i> Home, Garden &amp; Kitchen</a>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-heart-pulse"></i> Health &amp; Beauty</a>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-diamond2"></i> Yewelry &amp; Watches</a>
                            </li>
                            <li class="current-menu-item menu-item-has-children has-mega-menu"><a href="#"><i class="icon-desktop"></i> Computer &amp; Technology</a>
                                <div class="mega-menu">
                                    <div class="mega-menu__column">
                                        <h4>Computer &amp; Technologies<span class="sub-toggle"></span></h4>
                                        <ul class="mega-menu__list">
                                            <li class="current-menu-item "><a href="#">Computer &amp; Tablets</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Laptop</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Monitors</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Networking</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Drive &amp; Storages</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Computer Components</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Security &amp; Protection</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Gaming Laptop</a>
                                            </li>
                                            <li class="current-menu-item "><a href="#">Accessories</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-baby-bottle"></i> Babies &amp; Moms</a>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-baseball"></i> Sport &amp; Outdoor</a>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-smartphone"></i> Phones &amp; Accessories</a>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-book2"></i> Books &amp; Office</a>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-car-siren"></i> Cars &amp; Motocycles</a>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-wrench"></i> Home Improments</a>
                            </li>
                            <li class="current-menu-item "><a href="#"><i class="icon-tag"></i> Vouchers &amp; Services</a>
                            </li>
                        </ul>
                    </div>
                </div><a class="ps-logo" href="index.html">rocket<span>mart</span></a>
            </div>
            <div class="header__center">
            </div>
            <div class="header__right">
                <div class="header__actions">
                    <a class="header__extra" href="#"><i class="icon-heart"></i><span><i>0</i></span></a>
                    <div class="ps-cart--mini"><a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>0</i></span></a>
                        <div class="ps-cart__content">
                            <div class="ps-cart__items">
                                <div class="ps-product--cart-mobile">
                                    <div class="ps-product__thumbnail"><a href="#"><img src="img/products/clothing/7.jpg" alt=""></a></div>
                                    <div class="ps-product__content"><a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                                        <p><strong>Sold by:</strong> YOUNG SHOP</p><small>1 x $59.99</small>
                                    </div>
                                </div>
                                <div class="ps-product--cart-mobile">
                                    <div class="ps-product__thumbnail"><a href="#"><img src="img/products/clothing/5.jpg" alt=""></a></div>
                                    <div class="ps-product__content"><a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                                        <p><strong>Sold by:</strong> YOUNG SHOP</p><small>1 x $59.99</small>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-cart__footer">
                                <h3>Sub Total:<strong>$59.99</strong></h3>
                                <figure><a class="ps-btn" href="shopping-cart.html">View Cart</a><a class="ps-btn" href="checkout.html">Checkout</a></figure>
                            </div>
                        </div>
                    </div>
                    <div class="ps-block--user-header">
                        <div class="ps-block__left"><i class="icon-user"></i></div>
                        <div class="ps-block__right">
                            <!-- D : 로그인전 -->
                            <a th:href="@{/any/login/signin}">Login</a>
                            <a th:href="@{/any/login/signin}">Register</a>
                            <!-- D : 로그인후
                            <a href="my-signin.html">Logout</a>
                            <a href="my-signin.html">Mypage</a>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <div class="container">
            <div class="navigation__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle active"><i class="icon-menu"></i><span> Shop by Category</span></div>
                    <div class="menu__content"></div>
                </div>
            </div>
            <div class="navigation__right">
                <ul class="menu menu--recent-view">
                    <li><a href="#"><strong>Brands</strong></a>
                        <!--<div class="navigation__recent-products">
                            <div class="ps-carousel&#45;&#45;nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-item="8" data-owl-item-xs="3" data-owl-item-sm="4" data-owl-item-md="5" data-owl-item-lg="6" data-owl-duration="1000" data-owl-mousedrag="on"><a href="#"><img src="img/products/technology/1.jpg" alt=""></a><a href="#"><img src="img/products/technology/2.jpg" alt=""></a><a href="#"><img src="img/products/technology/3.jpg" alt=""></a><a href="#"><img src="img/products/technology/4.jpg" alt=""></a><a href="#"><img src="img/products/technology/5.jpg" alt=""></a><a href="#"><img src="img/products/technology/6.jpg" alt=""></a><a href="#"><img src="img/products/technology/7.jpg" alt=""></a><a href="#"><img src="img/products/technology/8.jpg" alt=""></a></div>
                            <p><a href="shop-default.html">See all your recently viewed items</a></p>
                        </div>-->
                    </li>
                </ul>
                <!--<ul class="navigation__extra">
                    <li><a href="#">Sell on Martfury</a></li>
                    <li><a href="#">Tract your order</a></li>
                    <li>
                        <div class="ps-dropdown"><a href="#">US Dollar</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#">Us Dollar</a></li>
                                <li><a href="#">Euro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="ps-dropdown language"><a href="#"><img src="img/flag/en.png" alt="">English</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#"><img src="img/flag/germany.png" alt=""> Germany</a></li>
                                <li><a href="#"><img src="img/flag/fr.png" alt=""> France</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>-->
            </div>
        </div>
    </nav>
</header>
<header class="header header--mobile" data-sticky="true">
    <!--    <div class="header__top">
            <div class="header__left">
                <p>Welcome to Martfury Online Shopping Store !</p>
            </div>
            <div class="header__right">
                <ul class="navigation__extra">
                    <li><a href="#">Sell on Martfury</a></li>
                    <li><a href="#">Tract your order</a></li>
                    <li>
                        <div class="ps-dropdown"><a href="#">US Dollar</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#">Us Dollar</a></li>
                                <li><a href="#">Euro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="ps-dropdown language"><a href="#"><img src="img/flag/en.png" alt="">English</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#"><img src="img/flag/germany.png" alt=""> Germany</a></li>
                                <li><a href="#"><img src="img/flag/fr.png" alt=""> France</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>-->
    <div class="navigation--mobile">
        <div class="navigation__left"><a class="ps-logo" href="index.html">rocket<span>mart</span></a></div>
        <div class="navigation__right">
            <div class="header__actions">
                <div class="ps-cart--mini"><a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>0</i></span></a>
                    <div class="ps-cart__content">
                        <div class="ps-cart__items">
                            <div class="ps-product--cart-mobile">
                                <div class="ps-product__thumbnail"><a href="#"><img src="img/products/clothing/7.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                                    <p><strong>Sold by:</strong> YOUNG SHOP</p><small>1 x $59.99</small>
                                </div>
                            </div>
                            <div class="ps-product--cart-mobile">
                                <div class="ps-product__thumbnail"><a href="#"><img src="img/products/clothing/5.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                                    <p><strong>Sold by:</strong> YOUNG SHOP</p><small>1 x $59.99</small>
                                </div>
                            </div>
                        </div>
                        <div class="ps-cart__footer">
                            <h3>Sub Total:<strong>$59.99</strong></h3>
                            <figure><a class="ps-btn" href="shopping-cart.html">View Cart</a><a class="ps-btn" href="checkout.html">Checkout</a></figure>
                        </div>
                    </div>
                </div>
                <div class="ps-block--user-header">
                    <div class="ps-block__left"><i class="icon-user"></i></div>
                    <div class="ps-block__right">
                        <a th:href="@{/any/login/signin}">Login</a>
                        <a th:href="@{/any/login/signin}">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-search--mobile">
        <form class="ps-form--search-mobile" action="index.html" method="get">
            <div class="form-group--nest">
                <input class="form-control" type="text" placeholder="Search something...">
                <button><i class="icon-magnifier"></i></button>
            </div>
        </form>
    </div>
</header>
</html>