<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<header class="header header--market-place-3" data-sticky="true">
    <div class="header__top">
        <div class="container">
            <div class="header__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle">
                        <a href="#">Category</a>
                        <a href="#">Brands</a>
                    </div>
                </div>
                <a class="ps-logo" th:href="@{/}">rocket<span>mart</span></a>
            </div>
            <div class="header__center">
            </div>
            <div class="header__right">
                <div class="header__actions">
                    <a class="header__extra" href="#"><i class="icon-heart"></i><span><i>0</i></span></a>
                    <div class="ps-block--user-header">
                        <div class="ps-block__left"><i class="icon-user"></i></div>
                        <div class="ps-block__right">
                            <!-- D : 로그인전 -->
                            <a sec:authorize="isAnonymous()" th:href="@{/any/signin}">Login</a>
                            <a sec:authorize="isAnonymous()" th:href="@{/any/signup}">Register</a>
                            <!-- D : 로그인후 -->
                            <a sec:authorize="isAuthenticated()" th:href="@{/any/signout/result}">Logout</a>
                            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/member/list}">Mypage</a>
                            <a sec:authorize="hasAuthority('SELLER') and !hasAuthority('ADMIN')" th:href="@{/seller/brand_add}">Mypage</a>
                            <a sec:authorize="hasAuthority('BUYER') and !hasAuthority('ADMIN')" th:href="@{/buyer/inquiry/list}">Mypage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <div class="container">
            <div class="navigation__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle">
                        <a href="#">Category</a>
                        <a href="#">Brands</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="menu__content"></div>
                </div>
            </div>
        </div>
    </nav>
</header>
<header class="header header--mobile" data-sticky="true">
    <!--    <div class="header__top">
            <div class="header__left">
                <p>Welcome to Martfury Online Shopping Store !</p>
            </div>
            <div class="header__right">
                <ul class="navigation__extra">
                    <li><a href="#">Sell on Martfury</a></li>
                    <li><a href="#">Tract your order</a></li>
                    <li>
                        <div class="ps-dropdown"><a href="#">US Dollar</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#">Us Dollar</a></li>
                                <li><a href="#">Euro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="ps-dropdown language"><a href="#"><img src="img/flag/en.png" alt="">English</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#"><img src="img/flag/germany.png" alt=""> Germany</a></li>
                                <li><a href="#"><img src="img/flag/fr.png" alt=""> France</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>-->
    <div class="navigation--mobile">
        <div class="navigation__left"><a class="ps-logo" href="index.html">rocket<span>mart</span></a></div>
        <div class="navigation__right">
            <div class="header__actions">
                <div class="ps-block--user-header">
                    <div class="ps-block__left"><i class="icon-user"></i></div>
                    <div class="ps-block__right">
                        <!-- D : 로그인전 -->
                        <a sec:authorize="isAnonymous()" th:href="@{/any/signin}">Login</a>
                        <a sec:authorize="isAnonymous()" th:href="@{/any/signup}">Register</a>
                        <!-- D : 로그인후 -->
                        <a sec:authorize="isAuthenticated()" th:href="@{/any/signout/result}">Logout</a>
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/member/list}">Mypage</a>
                        <a sec:authorize="hasAuthority('SELLER') and !hasAuthority('ADMIN')" th:href="@{/seller/brand_add}">Mypage</a>
                        <a sec:authorize="hasAuthority('BUYER') and !hasAuthority('ADMIN')" th:href="@{/buyer/inquiry/list}">Mypage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</html>