<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="scriptFragment">

    <script th:src="@{/plugins/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/plugins/popper.min.js}"></script>
    <script th:src="@{/plugins/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/plugins/bootstrap4/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/plugins/masonry.pkgd.min.js}"></script>
    <script th:src="@{/plugins/isotope.pkgd.min.js}"></script>
    <script th:src="@{/plugins/jquery.matchHeight-min.js}"></script>
    <script th:src="@{/plugins/slick/slick/slick.min.js}"></script>
    <script th:src="@{/plugins/jquery-bar-rating/dist/jquery.barrating.min.js}"></script>
    <script th:src="@{/plugins/slick-animation.min.js}"></script>
    <script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/plugins/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>
    <script th:src="@{/plugins/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/plugins/select2/dist/js/select2.full.min.js}"></script>
    <script th:src="@{/plugins/gmap3.min.js}"></script>
    <script th:src="@{/plugins/axios.min.js}"></script>
    <script th:src="@{/plugins/lodash.min.js}"></script>
    <script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
    <script th:src="@{/plugins/datatables/datatables.js}"></script>
    <script th:src="@{/plugins/dropzone/dropzone.min.js}"></script>
    <!-- custom scripts-->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/constant.js}"></script>

    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/jquery.modal.js"></script>
    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/modal.js"></script>
</head>
</html>