<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard ps-store-list">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-section__wrapper">
                <!-- .ps-section__left : S -->
                <div class="ps-section__left">
                    <aside class="widget widget--vendor">
                        <h3 class="widget-title">Mypage</h3>
                        <ul class="ps-list--arrow">
                            <li><a th:href="@{/admin/member/list}">MemberList</a></li> <!-- D : 활성화된 메뉴 .active 추가됨 -->
                            <li><a th:href="@{/admin/brand/list}" class="active">BrandList</a></li>
                            <li><a th:href="@{/admin/pending/list}">PendingList</a></li>
                            <li><a th:href="@{/any/inquiry/list}">Inquiry</a></li>
                            <li><a th:href="@{/admin/contactus/list}">Contact Us</a></li>
                            <li><a th:href="@{/admin/clicklog/list}">Click Log</a></li>
                        </ul>
                    </aside>
                </div>
                <!-- //.ps-section__left : E -->
                <!-- .ps-section__right : S -->
                <div class="ps-section__right">
                    <div class="ps-block--vendor-dashboard">
                        <div class="ps-block__header">
                            <h3>BrandList</h3>
                        </div>
                        <div class="ps-block__content">
                            <form id="adminBrandFrm" name="adminBrandFrm" th:action="@{/admin/brand/list}" method="post">
                            <div class="search-box">
                                <input type="text" class="form-control" id="schCompanyNm" name="schCompanyNm" th:value="${schCompanyNm}" placeholder="회사명" style="width:20%">
                                <input type="text" class="form-control" id="schMemId" name="schMemId" th:value="${schMemId}" placeholder="셀러" style="width:20%">
                                <input type="text" class="form-control" id="schBrandNm" name="schBrandNm" th:value="${schBrandNm}" placeholder="브랜드명" style="width:20%">
                                <button type="submit" id="btnSearch" class="ps-btn type-black">Search</button>
                            </div>
                            </form>
                            <span class="total">등록 브랜드 수 : <em class="num" style="color: red" th:text="${regBrandCnt}"></em>개 /</span>
                            <span class="total">등록 제품 수 : <em class="num" style="color: red" th:text="${regPrdCnt}"></em>개 /</span>
                            <span class="total">승인 제품 수 : <em class="num" style="color: red" th:text="${appPrdCnt}"></em>개 /</span>
                            <span class="total">승인 대기 제품 수 : <em class="num" style="color: red" th:text="${staPrdCnt}"></em>개</span>
                            <p class="total">Total : <em class="num" th:text="${totalCnt}"></em> result</p>
                            <div class="table-responsive">
                                <table class="table ps-table ps-table--vendor">
                                    <colgroup>
                                        <col style="width:6%">
                                        <col style="width:15%">
                                        <col style="width:20%">
                                        <col style="width:20%">
                                        <col style="width:10%">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>회사명</th>
                                        <th>셀러ID</th>
                                        <th>브랜드명</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:if="${#lists.isEmpty(adminBrandList)}">
                                        <tr>
                                            <td colspan="7">등록된 브랜드 내역이 없습니다.</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:if="${not #lists.isEmpty(adminBrandList)}">
                                        <tr th:each="adminBrand : ${adminBrandList}">
                                            <td th:text="${adminBrand.ROW_NUM}"></td>
                                            <td th:text="${adminBrand.COMPANY_NM}"></td>
                                            <td th:text="${adminBrand.MEM_ID}"></td>
                                            <td class="link-type">
                                                <a th:href="@{'/any/brand_detail/' + ${adminBrand.BRAND_SEQ}}" th:title="${adminBrand.BRAND_NM}" th:text="${adminBrand.BRAND_NM}"></a>
                                            </td>
                                            <td>
                                                <div class="btns type-size">
                                                    <button type="button" class="ps-btn" th:onclick="|javascript:CommonUtils.redirectPage('/seller/brand_add/${adminBrand.BRAND_SEQ}')|" >수정 <i class="fa fa-edit"></i></button>
                                                </div>
                                            </td>

                                        </tr>
                                    </th:block>                                    
                                    </tbody>
                                </table>
                            </div>
                            <th:block th:if="${!#lists.isEmpty(adminBrandList)}">
                                <div class="ps-pagination">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" style="color: #0c0c0c !important" th:href="@{'/admin/brand/list?page=1'}" aria-label="Previous">
                                                <span aria-hidden="true">처음</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" style="color: #0c0c0c !important" th:href="@{'/admin/brand/list?page=' + ${pagination.prevBlock}}" aria-label="Previous">
                                                <span aria-hidden="true">이전</span>
                                            </a>
                                        </li>
                                        <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                                            <li class="page-item"
                                                th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                                                th:each="pageButton : ${#numbers.sequence(start, end)}">
                                                <a class="page-link" th:classappend="${#strings.equals(pageButton, pagination.page) ? 'active' : ''}"  style="color: #0c0c0c !important" th:href="@{'/admin/brand/list?page=' + ${pageButton}}" th:text="${pageButton}"></a>
                                            </li>
                                        </th:block>
                                        <li class="page-item">
                                            <a class="page-link" style="color: #0c0c0c !important" th:href="@{'/admin/brand/list?page=' + ${pagination.nextBlock}}" aria-label="Next">
                                                <span aria-hidden="true">다음</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" style="color: #0c0c0c !important" th:href="@{'/admin/brand/list?page=' + ${pagination.totalPageCnt}}" aria-label="Previous">
                                                <span aria-hidden="true">끝</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <!-- //.ps-section__right : E -->
            </div>
            <!-- //.container : E -->
        </div>
    </div>
</th:block>
</html>