<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-store-list">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-section__wrapper">
                <!-- .ps-section__left : S -->
                <div class="ps-section__left">
                    <aside class="widget widget--vendor">
                        <h3 class="widget-title">Mypage</h3>
                        <ul class="ps-list--arrow">
                            <li><a href="#" class="active">제품정보</a></li> <!-- D : 활성화된 메뉴 .active 추가됨 -->
                            <li><a href="#">회사정보</a></li>
                        </ul>
                    </aside>
                </div>
                <!-- //.ps-section__left : E -->
                <!-- .ps-section__right : S -->
                <div class="ps-section__right">
                    <div class="btn_box">
                        <button type="button" class="ps-btn">+ 브랜드 추가</button>
                    </div>
                    <div class="no_data">등록된 브랜드가 없습니다.  브랜드를  먼저 추가해주세요.</div>
                </div>
                <!-- //.ps-section__right : E -->
            </div>
        </div>
        <!-- //.container : E -->
    </div>
</th:block>
</html>