<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-store-list">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-section__wrapper">
                <!-- .ps-section__left : S -->
                <div class="ps-section__left">
                    <aside class="widget widget--vendor">
                        <h3 class="widget-title">Mypage</h3>
                        <ul class="ps-list--arrow">
                            <th:block sec:authorize="hasAuthority('ADMIN')">
                                <li><a th:href="@{/admin/member/list}">MemberList</a></li>
                                <li><a th:href="@{/admin/brand/list}">BrandList</a></li>
                                <li><a th:href="@{/admin/pending/list}">PendingList</a></li>
                                <li><a th:href="@{/any/inquiry/list}">Inquiry</a></li>
                                <li><a th:href="@{/admin/contactus/list}">Contact Us</a></li>
                                <li><a th:href="@{/admin/clicklog/list}">Click Log</a></li>
                            </th:block>
                            <th:block sec:authorize="hasAuthority('BUYER') and !hasAuthority('ADMIN')">
                                <li><a th:href="@{/any/inquiry/list}">Inquiry</a></li>
                                <li><a th:href="@{/any/wishlist/list}">WishList</a></li> <!-- D : 활성화된 메뉴 .active 추가됨 -->
                                <li><a th:href="@{/buyer/buyer_detail}" class="active">MyInfo</a></li>
                            </th:block>
                        </ul>
                    </aside>
                </div>
                <!-- //.ps-section__left : E -->
                <!-- .ps-section__right : S -->
                <div class="ps-section__right">
                    <div class="ps-block--vendor-dashboard">
                        <div class="ps-block__header">
                            <h3>Member Info</h3>
                            <span class="ab-r date">last updated: <span th:text="${#strings.substring(mmbr.get('UPD_TS'),0,19)}"></span></span>
                        </div>
                        <div class="ps-block__content">
                            <form id="byrFrm" method="post" action="">
                                <input type="hidden" name="memId" class="memId" th:value="${mmbr.get('MEM_ID')}" />
                                <input type="hidden" name="apprvlYn" class="apprvlYn" value="" />
                            </form>
                            <ul class="info-list">
                                <li>
                                    <span class="tit-info bul-type">Name : </span>
                                    <span class="txt-info" th:text="${mmbr.get('MEM_NM')}" />
                                </li>
                                <li>
                                    <span class="tit-info bul-type">Phone Number : </span>
                                    <span class="txt-info" th:text="${mmbr.get('TEL')}" />
                                </li>
                                <li>
                                    <span class="tit-info bul-type">Company or Shop Name : </span>
                                    <span class="txt-info" th:text="${mmbr.get('COMPANY_NM')}" />
                                </li>
                                <li>
                                    <span class="tit-info bul-type">Company or Shop URL : </span>
                                    <span class="txt-info" th:text="${mmbr.get('COMPANY_URL')}" />
                                </li>
                                <li th:if="${mmbr.get('OFFLINE_YN').equals('Y')}">
                                    <span class="tit-info bul-type">OFFLINE Channel : </span>
                                    <span class="txt-info" th:text="${mmbr.get('OFFLINE_TEXT')}" />
                                </li>
                                <li th:if="${mmbr.get('ONLINE_YN').equals('Y')}">
                                    <span class="tit-info bul-type">OFFLINE Channel : </span>
                                    <span class="txt-info" th:text="${mmbr.get('ONLINE_TEXT')}" />
                                </li>
                                <li>
                                    <span class="tit bul-type">Business Registration : </span>
                                    <span class="txt">
                                         <a href="#" class="btn-file">
                                            <i class="fa fa-file-text-o"></i>
                                            <a th:href="@{'/downloadFile/' + ${mmbr.get('THEMA_RELM_CD')} + '/' +${mmbr.get('REG_FILE_NM') +  mmbr.get('EXT')} }"><span th:text="${mmbr.get('ORGN_FILE_NM') + mmbr.get('EXT')}"></span></a>
                                        </a>
                                    </span>
                                </li>
                                <li>
                                    <span class="tit bul-type">Member Grade : </span>
                                    <span class="txt-info" th:if="${mmbr.get('APPROVAL_YN').equals('Y')}">Regular</span>
                                    <span class="txt-info" th:if="${mmbr.get('APPROVAL_YN').equals('N')}">Associate</span>
                                </li>
                            </ul>
                        </div>
                        <div class="btns">
                            <button type="button" id="btnApprvl" class="ps-btn type-black"
                                    th:if="${mmbr.get('APPROVAL_YN').equals('N')}" th:value="Y" sec:authorize="hasAuthority('ADMIN')">승인</button>
                            <button type="button" id="btnApprvl" class="ps-btn type-black"
                                    th:if="${mmbr.get('APPROVAL_YN').equals('Y')}" th:value="N" sec:authorize="hasAuthority('ADMIN')">승인취소</button>
                            <button type="button" id="btnMdfy" class="ps-btn type-black">Edit</button>
                            <button type="button" id="btnList" class="ps-btn type-black" sec:authorize="hasAuthority('ADMIN')">목록</button>
                        </div>
                    </div>
                </div>
                <!-- //.ps-section__right : E -->
            </div>
        </div>
        <!-- //.container : E -->
    </div>

    <script type="text/javascript">
        (function(){

            var form = null;    // form Obj
            var apprvlYn = "";  // 승인여부
            var btnText = "";   // 버튼 Text

            var exct = {
                init : function() {

                    form = $("#byrFrm");
                    this.clickEventListener();
                },
                clickEventListener : function() {

                    // 승인버튼 클릭 Event
                    $("#btnApprvl").click(function(){

                        apprvlYn = this.value;
                        btnText = this.innerText;
                        form.find(".apprvlYn").val(apprvlYn);    // Button 값 hidden 저장

                        if(confirm(btnText +" 하시겠습니까?")) {
                            $.ajax({
                                type : 'POST',
                                data : form.serialize(),
                                url : "/any/rest/member/execApproval",
                                dataType : "text",
                                success : function(data) {

                                    if(data == "Success") {
                                        alert(btnText + "되었습니다.");
                                        location.reload();
                                    }
                                },
                                error : function() {
                                    alert("Error");
                                }
                            });
                        }
                    });

                    // 수정하기 버튼 클릭 Event
                    $("#btnMdfy").click(function() {

                        form.attr("action", "/buyer/buyer_modify");
                        form.submit();
                    });

                    // 목록 버튼 클릭 Event
                    $("#btnList").click(function() {

                        form.attr("action", "/admin/member/list");
                        form.submit();
                    });
                }
            }

            exct.init();
        }(jQuery));
    </script>
</th:block>
</html>