<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard ps-store-list">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/}">Home</a></li>
                        <li>MyPage</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            <div class="ps-section__wrapper">
                <!-- .ps-section__left : S -->
                <div class="ps-section__left">
                    <aside class="widget widget--vendor">
                        <h3 class="widget-title">Mypage</h3>
                        <ul class="ps-list--arrow">
                            <li><a th:href="@{/admin/member/list}">MemberList</a></li> <!-- D : 활성화된 메뉴 .active 추가됨 -->
                            <li><a th:href="@{/any/inquiry/list}">Inquiry</a></li>
                            <li><a th:href="@{/admin/contactus/list}">Contact Us</a></li>
                            <li><a th:href="@{/any/wishlist/list}">WishList</a></li>
                            <li><a th:href="@{/any/clicklist/list}" class="active">Click Log</a></li>
                        </ul>
                    </aside>
                </div>
                <!-- //.ps-section__left : E -->
                <!-- .ps-section__right : S -->
                <div class="ps-section__right">
                    <div class="ps-block--vendor-dashboard">
                        <div class="ps-block__header">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="ps-block__content">
                            <form id="contactusFrm" name="contactusFrm" th:action="@{/admin/contactus/list}" method="post">
                            <div class="search-box">
                                <input type="text" class="form-control" id="usrNm" name="usrNm" th:value="${usrNm}" placeholder="NAME" style="width:20%">
                                <input type="text" class="form-control" id="companyNm" name="companyNm" th:value="${companyNm}" placeholder="COMPANY" style="width:20%">
                                <input type="text" class="form-control" id="subject" name="subject" th:value="${subject}" placeholder="SUBJECT" style="width:30%">
                                <button type="submit" id="btnSearch" class="ps-btn type-black">Search</button>
                            </div>
                            </form>
                            <p class="total">Total : <em class="num" th:text="${#lists.size(clicklogList)}"></em> result</p>
                            <div class="table-responsive">
                                <table class="table ps-table ps-table--vendor">
                                    <colgroup>
                                        <col style="width:6%">
                                        <col style="width:10%">
                                        <col style="width:8%">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>바이어</th>
                                        <th>제품조회수</th>
                                        <th>제품명</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:if="${#lists.isEmpty(clicklogList)}">
                                        <tr>
                                            <td colspan="7">등록된 상품조회 이력이 없습니다.</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:if="${not #lists.isEmpty(clicklogList)}">
                                        <tr th:each="contactus : ${clicklogList}">
                                            <td th:text="${contactusStat.size - contactusStat.index}"></td>
                                            <td th:text="${contactus.get('USR_NM')}"></td>
                                            <td th:text="${contactus.get('EMAIL')}"></td>
                                            <td th:text="${contactus.get('COMPANY_NM')}"></td>
                                            <td class="link-type"><a th:href="@{'/admin/contactus/detail/' + ${contactus.get('CONTACT_SEQ')}}" th:text="${contactus.get('SUBJECT')}"></a></td>
                                            <td th:text="${#strings.substring(contactus.get('REG_TS'),0,19)}"></td>
                                            <td><a href="#" class="txt-msg" th:title="${contactus.get('MESSAGE')}" th:text="${contactus.get('MESSAGE')}"></a></td>
                                        </tr>
                                    </th:block>                                    
                                    </tbody>
                                </table>
                            </div>
<!--                            <div class="ps-pagination">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next Page<i class="icon-chevron-right"></i></a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- //.ps-section__right : E -->
            </div>
            <!-- //.container : E -->
        </div>
    </div>
</th:block>
</html>