<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard ps-store-list">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-section__wrapper">
                <!-- .ps-section__left : S -->
                <div class="ps-section__left">
                    <aside class="widget widget--vendor">
                        <h3 class="widget-title">Mypage</h3>
                        <ul class="ps-list--arrow">
                            <li><a th:href="@{/admin/member/list}">MemberList</a></li> <!-- D : 활성화된 메뉴 .active 추가됨 -->
                            <li><a th:href="@{/admin/member/list}">BrandList</a></li>
                            <li><a th:href="@{/admin/member/list}">PendingList</a></li>
                            <li><a th:href="@{/any/inquiry/list}">Inquiry</a></li>
                            <li><a th:href="@{/admin/contactus/list}">Contact Us</a></li>
                            <li><a th:href="@{/admin/clicklog/list}"class="active">ClickLog</a></li>
                        </ul>
                    </aside>
                </div>
                <!-- //.ps-section__left : E -->
                <!-- .ps-section__right : S -->
                <div class="ps-section__right">
                    <div class="ps-block--vendor-dashboard">
                        <div class="ps-block__header">
                            <h3>Click Log</h3>
                        </div>
                        <div class="ps-block__content">
                            <form id="clicklogFrm" name="clicklogFrm" th:action="@{/admin/clicklog/list}" method="post">
                            <div class="search-box">
                                <input type="text" class="form-control" id="schMemId" name="schMemId" th:value="${regUsrId}" placeholder="바이어" style="width:20%">
                                <input type="text" class="form-control" id="schProductNm" name="schProductNm" th:value="${productNm}" placeholder="상품명" style="width:20%">
                                <button type="submit" id="btnSearch" class="ps-btn type-black">Search</button>
                            </div>
                            </form>
                            <p class="total">Total : <em class="num" th:text="${#lists.size(clicklogList)}"></em> result</p>
                            <div class="table-responsive">
                                <table class="table ps-table ps-table--vendor">
                                    <colgroup>
                                        <col style="width:6%">
                                        <col style="width:15%">
                                        <col style="width:12%">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>바이어</th>
                                        <th>조회 상품수</th>
                                        <th>제품명</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:if="${#lists.isEmpty(clicklogList)}">
                                        <tr>
                                            <td colspan="7">등록된 조회 상품이력이 없습니다.</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:if="${not #lists.isEmpty(clicklogList)}">
                                        <tr th:each="clicklog : ${clicklogList}">
                                            <td th:text="${clicklogStat.size - clicklogStat.index}"></td>
                                            <td th:text="${clicklog.REG_USR_ID}"></td>
                                            <td th:text="${clicklog.TOT_CNT}"></td>
                                            <td><a href="javascript:void(0);" th:title="${clicklog.PRODUCT_NM}" th:text="${clicklog.PRODUCT_NM}"></a></td>
                                        </tr>
                                    </th:block>                                    
                                    </tbody>
                                </table>
                            </div>
<!--                            <div class="ps-pagination">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next Page<i class="icon-chevron-right"></i></a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- //.ps-section__right : E -->
            </div>
            <!-- //.container : E -->
        </div>
    </div>
</th:block>
</html>