<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-block--vendor-dashboard">
                <div class="ps-block__header type-mt">
                    <h3>Contact Us</h3>
                </div>
                <div class="ps-block__content contact-box">
                    <div class="mb-5">
                        <label for="usrNm" class="bul-type">NAME</label>
                        <input type="text" id="usrNm" name="usrNm" class="form-control" th:value="${contactusInfo.get('USR_NM')}"  disabled>
                    </div>
                    <div class="mb-5">
                        <label for="email" class="bul-type">EMAIL</label>
                        <input type="text" id="email" name="email" class="form-control" th:value="${contactusInfo.get('EMAIL')}"  disabled>
                    </div>
                    <div class="mb-5">
                        <label for="companyNm" class="bul-type">COMPANY</label>
                        <input type="text" id="companyNm" name="companyNm" class="form-control" th:value="${contactusInfo.get('COMPANY_NM')}"  disabled>
                    </div>
                    <div class="mb-5">
                        <label for="subject" class="bul-type">SUBJECT</label>
                        <input type="text" id="subject" name="subject" class="form-control" th:value="${contactusInfo.get('SUBJECT')}"  disabled>
                    </div>
                    <div class="mb-5">
                        <label for="message" class="bul-type">MESSAGE</label>
                        <textarea id="message" name="message" maxlength="4000" class="form-control" th:text="${contactusInfo.get('MESSAGE')}"  disabled></textarea>
                    </div>
                </div>
                <div class="btns">
                    <button type="button" id="btnList" class="ps-btn type-black">목록</button>
                </div>
            </div>
        </div>
        <!-- //.container : E -->
    </div>

<script type="text/javascript">
    $(() => {
        PageScope.init();
        EventScope.init();
    });

    const PageScope = {

        init() {

        },


    };

    const EventScope = {

        init() {
            this.clickEventListener();
        },

        clickEventListener() {

            $('#btnList').on('click', () => {
                CommonUtils.redirectPage("/admin/contactus/list");
            });
        }
    };
</script>

</th:block>
</html>