<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard ps-store-list">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-section__wrapper">
                <!-- .ps-section__left : S -->
                <div class="ps-section__left">
                    <aside class="widget widget--vendor">
                        <h3 class="widget-title">Mypage</h3>
                        <ul class="ps-list--arrow">
                            <li><a th:href="@{/admin/member/list}" class="active">MemberList</a></li> <!-- D : 활성화된 메뉴 .active 추가됨 -->
                            <li><a th:href="@{/admin/brand/list}">BrandList</a></li>
                            <li><a th:href="@{/admin/pending/list}">PendingList</a></li>
                            <li><a th:href="@{/any/inquiry/list}">Inquiry</a></li>
                            <li><a th:href="@{/admin/contactus/list}">Contact Us</a></li>
                            <li><a th:href="@{/admin/clicklog/list}">Click Log</a></li>
                        </ul>
                    </aside>
                </div>
                <!-- //.ps-section__left : E -->
                <!-- .ps-section__right : S -->
                <div class="ps-section__right">
                    <div class="ps-block--vendor-dashboard">
                        <div class="ps-block__header">
                            <h3>MemberList</h3>
                        </div>
                        <div class="ps-block__content">
                            <form id="memberFrm" name="memberFrm" th:action="@{/admin/member/list}" method="post">
                            <div class="search-box">
                                <input type="text" class="form-control" id="memNm" name="memNm" th:value="${memNm}" placeholder="회원명" style="width:20%">
                                <select id="role" name="role" th:value="${role}" class="ps-select" style="width:20%">
                                    <option value="">- 회원구분 -</option>
                                    <option value="SELLER" th:selected="${role != null and role.equals('SELLER')}">SELLER</option>
                                    <option value="BUYER" th:selected="${role != null and role.equals('BUYER')}">BUYER</option>
                                </select>
                                <select id="approvalYn" name="approvalYn" th:value="${approvalYn}" class="ps-select" style="width:20%">
                                    <option value="">- 회원등급 -</option>
                                    <option value="N" th:selected="${approvalYn != null and approvalYn.equals('N')}">준회원</option>
                                    <option value="Y" th:selected="${approvalYn != null and approvalYn.equals('Y')}">정회원</option>
                                </select>
                                <input type="text" class="form-control" id="companyNm" name="companyNm" th:value="${companyNm}" placeholder="회사명" style="width:20%">
                                <button type="submit" id="btnSave" class="ps-btn type-black">Search</button>
                            </div>
                            </form>
                            <p class="total">Total : <em class="num" th:text="${totalCnt}"></em> result</p>
                            <div class="table-responsive">
                                <form id="detailFrm" action="" method="post">
                                    <input type="hidden" class="memId" name="memId" />
                                </form>
                                <table class="table ps-table ps-table--vendor">
                                    <colgroup>
                                        <col style="width:6%">
                                        <col style="width:7%">
                                        <col style="width:12%">
                                        <col style="width:12%">
                                        <col style="width:9%">
                                        <col style="width:11%">
                                        <col style="width:15%">
                                        <!--<col style="width:15%">-->
                                        <col>
                                        <col style="width:8%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>구분</th>
                                        <th>아이디</th>
                                        <th>회원명</th>
                                        <th>회원등급</th>
                                        <th>연락처</th>
                                        <th>회사명</th>
                                        <!--<th>회사URL</th>-->
                                        <th>등록일시</th>
                                        <th>비밀번호<br>초기화</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:if="${#lists.isEmpty(memList)}">
                                        <tr>
                                            <td colspan="8">등록된 회원 정보가 없습니다.</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:if="${not #lists.isEmpty(memList)}">
                                        <tr th:each="member : ${memList}">
                                            <td th:text="${member.ROW_NUM}"></td>
                                            <td th:if="${member.get('ROLE').equals('ADMIN')}">Admin</td>
                                            <td th:if="${member.get('ROLE').equals('BUYER')}">Buyer</td>
                                            <td th:if="${member.get('ROLE').equals('SELLER')}">Seller</td>
                                            <td th:text="${member.get('MEM_ID')}"></td>
                                            <!--<td th:text="${member.get('MEM_NM')}"></td>-->
                                            <td class="link-type">
                                                <a th:text="${member.get('MEM_NM')}"
                                                   th:href="|javascript:PageScope.detail('${member.get('ROLE')}', '${member.get('MEM_ID')}');|"></a>
                                            </td>
                                            <td th:if="${member.get('APPROVAL_YN').equals('N')}">준회원</td>
                                            <td th:if="${member.get('APPROVAL_YN').equals('Y')}">정회원</td>
                                            <td th:text="${member.get('TEL')}"></td>
                                            <td th:text="${member.get('COMPANY_NM')}"></td>
                                            <!--<td th:text="${member.get('COMPANY_URL')}">--></td>
                                            <td th:text="${#strings.substring(member.get('REG_TS'),0,19)}"></td>
                                            <td><button type="button" id="btnPasswordInit" name="btnPasswordInit" th:value="${member.get('MEM_ID')}" class="ps-btn init">INIT</button></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <th:block th:if="${!#lists.isEmpty(memList)}">
                                <div class="ps-pagination">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" style="color: #0c0c0c !important" th:href="@{'/admin/member/list?page=1' + '&memNm=' + ${memNm != null ? memNm : ''} + '&companyNm=' + ${companyNm != null ? companyNm : ''}
                                                + '&role=' + ${role != null ? (role.equals('SELLER') ? 'SELLER' : (role.equals('BUYER') ? 'BUYER' : '')) : ''}
                                                + '&approvalYn=' + ${approvalYn != null ? (approvalYn.equals('N') ? 'N' : (approvalYn.equals('Y') ? 'Y' : '')) : ''}}" aria-label="Previous">
                                                <span aria-hidden="true">처음</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" style="color: #0c0c0c !important" th:href="@{'/admin/member/list?page=' + ${pagination.prevBlock} + '&memNm=' + ${memNm != null ? memNm : ''} + '&companyNm=' + ${companyNm != null ? companyNm : ''}
                                                + '&role=' + ${role != null ? (role.equals('SELLER') ? 'SELLER' : (role.equals('BUYER') ? 'BUYER' : '')) : ''}
                                                + '&approvalYn=' + ${approvalYn != null ? (approvalYn.equals('N') ? 'N' : (approvalYn.equals('Y') ? 'Y' : '')) : ''}}" aria-label="Previous">
                                                <span aria-hidden="true">이전</span>
                                            </a>
                                        </li>
                                        <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                                            <li class="page-item"
                                                th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                                                th:each="pageButton : ${#numbers.sequence(start, end)}">
                                                <a class="page-link" th:classappend="${#strings.equals(pageButton, pagination.page) ? 'active' : ''}"  style="color: #0c0c0c !important" th:href="@{'/admin/member/list?page=' + ${pageButton} + '&memNm=' + ${memNm != null ? memNm : ''} + '&companyNm=' + ${companyNm != null ? companyNm : ''}
                                                + '&role=' + ${role != null ? (role.equals('SELLER') ? 'SELLER' : (role.equals('BUYER') ? 'BUYER' : '')) : ''}
                                                + '&approvalYn=' + ${approvalYn != null ? (approvalYn.equals('N') ? 'N' : (approvalYn.equals('Y') ? 'Y' : '')) : ''}}" th:text="${pageButton}">
                                                </a>
                                            </li>
                                        </th:block>
                                        <li class="page-item">
                                            <a class="page-link" style="color: #0c0c0c !important" th:href="@{'/admin/member/list?page=' + ${pagination.nextBlock} + '&memNm=' + ${memNm != null ? memNm : ''} + '&companyNm=' + ${companyNm != null ? companyNm : ''}
                                                + '&role=' + ${role != null ? (role.equals('SELLER') ? 'SELLER' : (role.equals('BUYER') ? 'BUYER' : '')) : ''}
                                                + '&approvalYn=' + ${approvalYn != null ? (approvalYn.equals('N') ? 'N' : (approvalYn.equals('Y') ? 'Y' : '')) : ''}}" aria-label="Next">
                                                <span aria-hidden="true">다음</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" style="color: #0c0c0c !important" th:href="@{'/admin/member/list?page=' + ${pagination.totalPageCnt} + '&memNm=' + ${memNm != null ? memNm : ''} + '&companyNm=' + ${companyNm != null ? companyNm : ''}
                                                + '&role=' + ${role != null ? (role.equals('SELLER') ? 'SELLER' : (role.equals('BUYER') ? 'BUYER' : '')) : ''}
                                                + '&approvalYn=' + ${approvalYn != null ? (approvalYn.equals('N') ? 'N' : (approvalYn.equals('Y') ? 'Y' : '')) : ''}}" aria-label="Previous">
                                                <span aria-hidden="true">끝</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <!-- //.ps-section__right : E -->
            </div>
        </div>
        <!-- //.container : E -->
    </div>

<script type="text/javascript">
$(() => {
    PageScope.init();
    EventScope.init();
});

const PageScope = {

    init() {

    },

    detail(flag, memId) {
        if(flag === "SELLER") {
            $("#detailFrm").attr("action", "/seller/seller_detail");
        }else if(flag === "BUYER") {
            $("#detailFrm").attr("action", "/buyer/buyer_detail");
        }
        $("#detailFrm").find(".memId").val(memId);
        $("#detailFrm").submit();
    },

    initMemPw(memId) {
        axios({
            method: 'post',
            url: '/admin/rest/member/mempw/init',
            params: {
                memId: memId
            }
        }).then(response => {
            if (response.status === 200) {
                alert('비밀번호를 1234로 초기화 하였습니다.');
            }
        }).catch(error => {
            console.log(error);
        });
    }

};

const EventScope = {

    init() {
        this.clickEventListener();
    },

    clickEventListener() {
        $('[name="btnPasswordInit"]').on('click', function() {
            if(confirm('비밀번호를 초기화 하시겠습니까?')) {
                PageScope.initMemPw($(this).val());
            }
        });
    }
};
</script>
</th:block>
</html>