<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard ps-store-list">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-section__wrapper">
                <!-- .ps-section__left : S -->
                <div class="ps-section__left">
                    <aside class="widget widget--vendor">
                        <h3 class="widget-title">Mypage</h3>
                        <ul class="ps-list--arrow">
                            <li><a th:href="@{/admin/member/list}" class="active">Member List</a></li> <!-- D : 활성화된 메뉴 .active 추가됨 -->
                            <li><a th:href="@{/any/inquiry/list}">Inquiry</a></li>
                            <li><a th:href="@{/admin/contactus/list}">Contact Us</a></li>
                            <li><a th:href="@{/any/wishlist/list}">WishList</a></li>
                        </ul>
                    </aside>
                </div>
                <!-- //.ps-section__left : E -->
                <!-- .ps-section__right : S -->
                <div class="ps-section__right">
                    <div class="ps-block--vendor-dashboard">
                        <div class="ps-block__header">
                            <h3>Member List</h3>
                        </div>
                        <div class="ps-block__content">
                            <form id="memberFrm" name="memberFrm" th:action="@{/admin/member/list}" method="post">
                            <div class="search-box">
                                <input type="text" class="form-control" id="memNm" name="memNm" th:value="${memNm}" placeholder="회원명" style="width:20%">
                                <select id="approvalYn" name="approvalYn" th:value="${approvalYn}" class="ps-select" style="width:20%">
                                    <option value="">- 회원등급 -</option>
                                    <option value="N" th:selected="${approvalYn != null and approvalYn.equals('N')}">준회원</option>
                                    <option value="Y" th:selected="${approvalYn != null and approvalYn.equals('Y')}">정회원</option>
                                </select>
                                <input type="text" class="form-control" id="companyNm" name="companyNm" th:value="${companyNm}" placeholder="회사명" style="width:20%">
                                <button type="submit" id="btnSave" class="ps-btn type-black">Search</button>
                            </div>
                            </form>
                            <p class="total">Total : <em class="num" th:text="${#lists.size(memList)}"></em> result</p>
                            <div class="table-responsive">
                                <form id="detailFrm" action="" method="post">
                                    <input type="hidden" class="memId" name="memId" />
                                </form>
                                <table class="table ps-table ps-table--vendor">
                                    <colgroup>
                                        <col style="width:6%">
                                        <col style="width:7%">
                                        <col style="width:12%">
                                        <col style="width:12%">
                                        <col style="width:12%">
                                        <col style="width:12%">
                                        <col style="width:15%">
                                        <!--<col style="width:15%">-->
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>구분</th>
                                        <th>아이디</th>
                                        <th>회원명</th>
                                        <th>회원등급</th>
                                        <th>연락처</th>
                                        <th>회사명</th>
                                        <!--<th>회사URL</th>-->
                                        <th>등록일시</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:if="${#lists.isEmpty(memList)}">
                                        <tr>
                                            <td colspan="8">등록된 회원 정보가 없습니다.</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:if="${not #lists.isEmpty(memList)}">
                                        <tr th:each="member : ${memList}">
                                            <td th:text="${memberStat.size - memberStat.index}"></td>
                                            <td th:if="${member.get('ROLE').equals('BUYER')}">Buyer</td>
                                            <td th:if="${member.get('ROLE').equals('SELLER')}">Seller</td>
                                            <td th:text="${member.get('MEM_ID')}"></td>
                                            <!--<td th:text="${member.get('MEM_NM')}"></td>-->
                                            <td class="link-type">
                                                <a th:if="${member.get('ROLE').equals('BUYER')}" th:text="${member.get('MEM_NM')}"
                                                   th:href="|javascript:link.detail('BUYER', '${member.get('MEM_ID')}');|"
                                                   style="cursor: pointer;"></a>
                                                <a th:if="${member.get('ROLE').equals('SELLER')}" th:text="${member.get('MEM_NM')}"
                                                   th:href="|javascript:link.detail('SELLER', '${member.get('MEM_ID')}');|"
                                                   style="cursor: pointer;"></a>
                                            </td>
                                            <td th:if="${member.get('APPROVAL_YN').equals('N')}">준회원</td>
                                            <td th:if="${member.get('APPROVAL_YN').equals('Y')}">정회원</td>
                                            <td th:text="${member.get('TEL')}"></td>
                                            <td th:text="${member.get('COMPANY_NM')}"></td>
                                            <!--<td th:text="${member.get('COMPANY_URL')}">--></td>
                                            <td th:text="${#strings.substring(member.get('REG_TS'),0,19)}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
<!--                            <div class="ps-pagination">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next Page<i class="icon-chevron-right"></i></a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- //.ps-section__right : E -->
            </div>
        </div>
        <!-- //.container : E -->
    </div>

    <script type="text/javascript">

        var form = null;

        var link = {

            init : function() {
               form = $("#detailFrm");
            },
            detail : function(flag, id) {

                if(flag === "SELLER") {
                    form.attr("action", "/seller/seller_detail");
                }else if(flag === "BUYER") {
                    form.attr("action", "/buyer/buyer_detail");
                }
                form.find(".memId").val(id);
                form.submit();
            }
        }

        link.init();
    </script>
</th:block>
</html>