<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
<!-- .container : S -->
<div class="container">
    <!-- .ps-section__wrapper: S -->
    <div class="ps-section__wrapper">
        <!-- .ps-section__left : S -->
        <div class="ps-section__left">
            <aside class="widget widget--vendor">
                <h3 class="widget-title">My page</h3>
                <ul class="ps-list--arrow">
                    <li><a href="#">제품 정보</a></li>
                    <li><a href="#">회사 정보</a></li>
                </ul>
            </aside>
        </div>
        <!-- //.ps-section__left : E -->
        <!-- .ps-section__right : S -->
        <div class="ps-section__right">
            <a class="ps-btn btn_add" href="#none">+ 브랜드 추가</a>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
                    <article class="ps-block--store-2">
                        <div class="ps-block__content bg--cover" data-background="img/vendor/store/default-store-banner.png" style="background: url(&quot;img/vendor/store/default-store-banner.png&quot;);">
                            <figure>
                                <h4>Global Office</h4>
                                <div class="ps-block__rating">
                                    <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="2" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="3" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="4" class="br-selected br-current"></a><a href="#" data-rating-value="2" data-rating-text="5"></a><div class="br-current-rating">1</div></div></div>
                                </div>
                                <p>325 Orchard Str, <br> New York, United States (US)</p>
                                <p><i class="icon-telephone"></i> (+053) 77-637-3300</p>
                            </figure>
                        </div>
                        <div class="ps-block__author"><a class="ps-block__user" href="#"><img src="img/vendor/store/vendor-150x150.jpg" alt=""></a><a class="ps-btn" href="store-detail.html">Visit Store</a></div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
                    <article class="ps-block--store-2">
                        <div class="ps-block__content bg--cover" data-background="img/vendor/store/default-store-banner.png" style="background: url(&quot;img/vendor/store/default-store-banner.png&quot;);">
                            <figure>
                                <h4>Young Shop</h4>
                                <div class="ps-block__rating">
                                    <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="2" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="3" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="4" class="br-selected br-current"></a><a href="#" data-rating-value="2" data-rating-text="5"></a><div class="br-current-rating">1</div></div></div>
                                </div>
                                <p>325 Orchard Str, <br> New York, United States (US)</p>
                                <p><i class="icon-telephone"></i> (+053) 77-637-3300</p>
                            </figure>
                        </div>
                        <div class="ps-block__author"><a class="ps-block__user" href="#"><img src="img/vendor/store/vendor-150x150.jpg" alt=""></a><a class="ps-btn" href="store-detail.html">Visit Store</a></div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
                    <article class="ps-block--store-2">
                        <div class="ps-block__content bg--cover" data-background="img/vendor/store/default-store-banner.png" style="background: url(&quot;img/vendor/store/default-store-banner.png&quot;);">
                            <figure>
                                <h4>Robert’s Store</h4>
                                <div class="ps-block__rating">
                                    <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="2" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="3" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="4" class="br-selected br-current"></a><a href="#" data-rating-value="2" data-rating-text="5"></a><div class="br-current-rating">1</div></div></div>
                                </div>
                                <p>325 Orchard Str, <br> New York, United States (US)</p>
                                <p><i class="icon-telephone"></i> (+053) 77-637-3300</p>
                            </figure>
                        </div>
                        <div class="ps-block__author"><a class="ps-block__user" href="#"><img src="img/vendor/store/vendor-150x150.jpg" alt=""></a><a class="ps-btn" href="store-detail.html">Visit Store</a></div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
                    <article class="ps-block--store-2">
                        <div class="ps-block__content bg--cover" data-background="img/vendor/store/default-store-banner.png" style="background: url(&quot;img/vendor/store/default-store-banner.png&quot;);">
                            <figure>
                                <h4>Go Pro</h4>
                                <div class="ps-block__rating">
                                    <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><div class="br-widget br-readonly"><a href="#" data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="2" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="3" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="4" class="br-selected br-current"></a><a href="#" data-rating-value="2" data-rating-text="5"></a><div class="br-current-rating">1</div></div></div>
                                </div>
                                <p>325 Orchard Str, <br> New York, United States (US)</p>
                                <p><i class="icon-telephone"></i> (+053) 77-637-3300</p>
                            </figure>
                        </div>
                        <div class="ps-block__author"><a class="ps-block__user" href="#"><img src="img/vendor/store/vendor-150x150.jpg" alt=""></a><a class="ps-btn" href="store-detail.html">Visit Store</a></div>
                    </article>
                </div>
            </div>
        </div>
        <!-- //.ps-section__right : E -->
    </div>
    <!-- //.ps-section__wrapper: E -->
</div>
<!-- //.container : E -->
</th:block>
</html>