<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-store-list">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-section__wrapper">
                <!-- .ps-section__left : S -->
                <div class="ps-section__left">
                    <aside class="widget widget--vendor">
                        <h3 class="widget-title">Mypage</h3>
                        <ul class="ps-list--arrow">
                            <li><a href="#">제품정보</a></li>
                            <li><a href="#" class="active">회사정보</a></li> <!-- D : 활성화된 메뉴 .active 추가됨 -->
                        </ul>
                    </aside>
                </div>
                <!-- //.ps-section__left : E -->
                <!-- .ps-section__right : S -->
                <div class="ps-section__right">
                    <div class="ps-block--vendor-dashboard">
                        <div class="ps-block__header">
                            <h3>회사 정보</h3>
                            <span class="ab-r date">last updated: <span th:text="${mmbr.get('UPD_TS')}"></span></span>
                        </div>
                        <div class="ps-block__content">
                            <ul class="info-list">
                                <li>
                                    <span class="tit-info bul-type">회사명 : </span>
                                    <span class="txt-info" th:text="${mmbr.get('COMPANY_NM')}" />
                                </li>
                                <li>
                                    <span class="tit-info bul-type">회사 홈페이지 : </span>
                                    <span class="txt-info" th:text="${mmbr.get('COMPANY_URL')}" />
                                </li>
                                <li>
                                    <span class="tit-info bul-type">담당자 정보 : </span>
                                    <ul class="txt-info type-list">
                                        <li>- 이름(직급) : <span th:text="${mmbr.get('MEM_NM')}"></span></li>
                                        <li>- 전화번호 : <span th:text="${mmbr.get('TEL')}"></span></li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="tit bul-type">사업자 유형</span>
                                    <ul class="txt-info type-list" th:each="bsnsTyp : ${mmbr.get('bsnsTyps')}">
                                        <li th:text="${bsnsTyp}" />
                                    </ul>
                                </li>
                                <li>
                                    <span class="tit bul-type">사업자 등록증</span>
                                    <span class="txt">
                                        <a href="#" class="btn-file"><i class="fa fa-file-text-o"></i>사업자등록증.pdf</a>
                                    </span>
                                </li>
                                <li>
                                    <span class="tit bul-type">회원등급 : </span>
                                    <span class="txt-info" th:if="${mmbr.get('APPROVAL_YN').equals('Y')}">정회원</span>
                                    <span class="txt-info" th:if="${mmbr.get('APPROVAL_YN').equals('N')}">준회원</span>
                                </li>
                            </ul>
                        </div>
                        <div class="btns">
                            <button type="button" id="btnTest" class="ps-btn type-black">승인</button>
                            <button type="button" id="btnSave" class="ps-btn type-black">수정하기</button>
                        </div>
                    </div>
                </div>
                <!-- //.ps-section__right : E -->
            </div>
        </div>
        <!-- //.container : E -->
    </div>
</th:block>
</html>