<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-page--my-account">
        <div class="ps-my-account">
            <div class="container">
                <div class="register ps-form--account ps-tab-root">
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="register">
                            <div class="ps-form__content">
                                <form id="sllrFrm" method="post" action="" enctype="multipart/form-data">
                                    <h4 id="registerText">회사 정보</h4>
                                    <div class="form-group">
                                        <input class="form-control" type="email" id="memId" name="memId"
                                               required="required" th:value="${mmbr.get('MEM_ID')}" th:readonly="readonly" />
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" name="memPw" th:value="${mmbr.get('MEM_PW')}" />
                                        <input class="form-control pwChck" type="password" id="nwPw" name="nwPw" placeholder="Password" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control pwChck" type="password" id="nwPwChck" name="nwPwChck" placeholder="Confirm Password" required="required">
                                        <small id="chckNtc"></small>
                                    </div>

                                    <p class="form-row form-group form-row-wide">
                                        <label for="memNm">담당자 이름(직급) <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="memNm" name="memNm"
                                               required="required" th:value="${mmbr.get('MEM_NM')}" />
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="tel">연락처 <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="tel" name="tel"
                                               required="required" th:value="${mmbr.get('TEL')}" />
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="companyNm">회사명 <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="companyNm" name="companyNm"
                                               required="required" th:value="${mmbr.get('COMPANY_NM')}" />
                                    </p>
                                    <p class="form-row form-group form-row-wide">
                                        <label for="companyUrl">회사 또는 브랜드 홈페이지 주소 <span class="required">*</span></label>
                                        <input class="form-control" type="text" id="companyUrl" name="companyUrl"
                                               required="required" th:value="${mmbr.get('COMPANY_URL')}" />
                                    </p>

                                    <div name="sellerType" class="form-group form-row-wide bsnsType" required="required">
                                        <label>사업자유형 <span class="required">*</span> (중복체크가능) </label>
                                        <div th:each="bsnsType, index : ${mmbr.get('bsnsList')}">
                                            <div class="ps-checkbox">
                                                <input class="form-control" type="checkbox" th:id="|bsnsType${index.index + 1}|" name="bsnsType"
                                                    th:value="${bsnsType.get('bsnsCd')}" th:checked="${bsnsType.get('chckFlg')}" />
                                                <label th:for="|bsnsType${index.index + 1}|" th:text="${bsnsType.get('bsnsCdNm')}" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-row-wide">
                                        <label for="bsnsRgstrNm"> 사업자 등록증 <span class="required">*</span></label>
                                        <div class="filebox">
                                            <input type="hidden" name="bsnsRgstrSeq" th:value="${mmbr.get('BSNS_RGSTR_SEQ')}" />
                                            <input class="form-control" id="bsnsRgstrNm" th:value="${mmbr.get('ORGN_FILE_NM') + mmbr.get('EXT')}" />
                                            <label for="bsnsRgstr" class="ps-btn type-black">File</label>
                                            <input type="file" id="bsnsRgstr" name="file" class="upload-hidden" required="required" />
                                        </div>
                                    </div>

                                    <div class="form-group mt-5" style="text-align: center;">
                                        <button type="button" id="btnMdfy" class="ps-btn ps-btn--fullwidth"
                                                style="width: 48%;">수정</button>
                                        <button type="button" id="btnCncl" class="ps-btn ps-btn--fullwidth"
                                                style="width: 48%;">취소</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        (function(){

            var form = null;    // form Obj
            var nwPw = null;    // 비밀번호 input Obj
            var nwPwChck = null;    // 비밀번호 확인 input Obj
            var btnMdfy = null;     // 수정 Button Obj
            var bsnsRgstrNm = null;   // 첨부파일 Text Obj
            var bsnsRgstr = null;   // 첨부파일 File Obj
            var chckNtc = null;     // 알림 Obj

            var modify = {

                init : function() {

                    form = $("#sllrFrm");
                    nwPw = form.find("#nwPw")
                    nwPwChck = form.find("#nwPwChck");
                    chckNtc = form.find("#chckNtc");
                    btnMdfy = form.find("#btnMdfy");

                    this.confirmPasswordForm();
                    this.fileEventListener();
                    this.clickEventListener();
                },
                confirmPasswordForm : function() {  // 비밀번호 입력 유효성검사

                    form.find(".pwChck").keyup(function(){

                        if(nwPw.val() == "" && nwPwChck.val() == "") {

                            chckNtc.html("");
                            btnMdfy.prop("disabled", false);
                        }else {

                            if(nwPw.val() == nwPwChck.val()) {
                                chckNtc.html("<strong style='color=\"#199894b3\"'>Passwords match</strong>");
                                btnMdfy.prop("disabled", false);
                            }else {
                                chckNtc.html("<strong style='color=\"#f82a2aa3\"'>Passwords do not match</strong>");
                                btnMdfy.prop("disabled", true);
                            }
                        }
                    });
                },
                fileEventListener : function() {    // 첨부파일 Event Listener

                    bsnsRgstrNm = form.find("#bsnsRgstrNm");
                    bsnsRgstr = form.find("#bsnsRgstr");

                    bsnsRgstr.on("change", function() {

                        if(window.FileReader) {
                            bsnsRgstrNm.val($(this)[0].files[0].name);
                        }else {
                            bsnsRgstrNm.val($(this).val().split('/').pop().split('\\').pop());
                        }
                    });
                },
                clickEventListener : function() {

                    // 수정 버튼 클릭 Event
                    $("#btnMdfy").click(function(){

                        if(confirm("수정하시겠습니까?")) {

                            form.attr("action", "/seller/execSellerModify");
                            form.submit();
                        }
                    });

                    // 취소 버튼 클릭 Event
                    $("#btnCncl").click(function() {
                        CommonUtils.backwardPage();
                    });
                }
            }

            modify.init();
        }(jQuery));
    </script>
</th:block>
</html>