<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="content">
    <div class="ps-vendor-dashboard ps-store-list">
        <!-- .container : S -->
        <div class="container">
            <div class="ps-section__wrapper">
                <!-- .ps-section__left : S -->
                <div class="ps-section__left">
                    <aside class="widget widget--vendor">
                        <h3 class="widget-title">Mypage</h3>
                        <ul class="ps-list--arrow">
                            <th:block sec:authorize="hasAuthority('ADMIN')">
                                <li><a th:href="@{/admin/member/list}">MemberList</a></li>
                                <li><a th:href="@{/any/inquiry/list}">Inquiry</a></li>
                                <li><a th:href="@{/any/wishlist/list}" class="active">WishList</a></li>
                                <li><a th:href="@{/admin/contactus/list}">Contact Us</a></li>
                            </th:block>
                            <th:block sec:authorize="hasAuthority('BUYER') and !hasAuthority('ADMIN')">
                                <li><a th:href="@{/any/inquiry/list}">Inquiry</a></li>
                                <li><a th:href="@{/any/wishlist/list}" class="active">WishList</a></li>
                                <li><a th:href="@{/buyer/buyer_detail}">MyInfo</a></li>
                            </th:block>
                        </ul>
                    </aside>
                </div>
                <!-- //.ps-section__left : E -->
                <!-- .ps-section__right : S -->
                <div class="ps-section__right">
                    <div class="ps-block--vendor-dashboard">
                        <div class="ps-block__header mt-50">
                            <h3>Wishlist</h3>
                            <button type="button" id="btnAskAll" class="ab-r ps-btn type-yellow">ASK ALL</button>
                        </div>
                        <div class="ps-block__content">
                            <div class="table-responsive">
                                <table class="table ps-table ps-table--vendor">
                                    <colgroup>
                                        <col style="width:6%">
                                        <col style="width:15%" sec:authorize="hasAuthority('ADMIN')">
                                        <col>
                                        <col style="width:15%">
                                        <col style="width:13%">
                                        <col style="width:15%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="productSeqAll" name="productSeqAll" class="check-all"/></th>
                                        <th sec:authorize="hasAuthority('ADMIN')">BUYER</th>
                                        <th>PRODUCT</th>
                                        <th>RETAIL PRICE</th>
                                        <th>FOB PRICE</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:if="${#lists.isEmpty(wishList)}">
                                        <tr>
                                            <td colspan="5">No products added to the Wishlist</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:if="${not #lists.isEmpty(wishList)}">
                                        <tr th:each="wish : ${wishList}">
                                            <td><input type="checkbox" id="productSeqArr" name="productSeqArr" th:value="${wish.PRODUCT_SEQ}" class="check"/></td>
                                            <td th:text="${wish.MEM_NM}" sec:authorize="hasAuthority('ADMIN')"></td>
                                            <td th:text="${wish.PRODUCT_NM}" class="txt-left"></td>
                                            <td th:text="'$' + ${wish.RETAIL_PRICE}"></td>
                                            <td th:if="${wish.APPROVAL_YN == 'N'}">Pending</td>
                                            <td th:if="${wish.APPROVAL_YN == 'Y'}">
                                                <!-- .tooltip-box : S -->
                                                <div class="tooltip-box">
                                                    <a href="#" th:value="${wish.PRODUCT_SEQ}">Click Here</a>
                                                    <div class="cont">
                                                        <div class="price-info-box">
                                                            <table id="tblFobPrice" class="tbl-price">
                                                                <colgroup>
                                                                    <col style="width:33%">
                                                                    <col style="width:33%">
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                <tr>
                                                                    <th>Quantity</th>
                                                                    <th>FOB Unit Price</th>
                                                                    <th>Supply Rate</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>

                                                                </tbody>
                                                            </table>
                                                            <p class="txt-impt">* Free Sample: Available</p>
                                                        </div>
                                                        <a href="#" class="btn-close">X</a>
                                                    </div>
                                                </div>
                                                <!-- //.tooltip-box : E-->
                                            </td>
                                            <td>
                                                <div class="btns type">
                                                    <button type="button" id="btnAsk" name="btnAsk" th:if="${wish.ASK_YN == 'N'}" th:value="${wish.PRODUCT_SEQ}" class="ps-btn type-yellow">Ask This</button>
                                                    <button type="button" id="btnInquiry" name="btnInquiry" th:if="${wish.ASK_YN == 'Y'}" th:value="${wish.INQUIRY_SEQ}" class="ps-btn type-yellow">Inquiry History</button>
                                                    <button type="button" id="btnDetail" name="btnDetail" th:value="${wish.PRODUCT_SEQ}" class="ps-btn type-black">Details</button>
                                                    <button type="button" id="btnDelete" name="btnDelete" th:value="${wish.PRODUCT_SEQ}" class="ps-btn type-yellow">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //.ps-section__right : E -->
            </div>
        </div>
        <!-- //.container : E -->
    </div>

    <form id="inquiryFrm" name="inquiryFrm" th:action="@{/any/inquiry/register}" method="post">
        <input type="hidden" id="productSeq" name="productSeq"/>
        <input type="hidden" id="returnGbn" name="returnGbn" value="wishList"/>
    </form>

    <script type="text/javascript">
        $(() => {
            PageScope.init();
            EventScope.init();
        });

        const PageScope = {

            init() {
                $('.check-all').on('click',this.checkAll);

                $('.tooltip-box a').on('click',function(){
                    var productSeq = parseInt($(this).attr('value'));
                    axios({
                        method: 'get',
                        url: `/any/product/fob/list/${productSeq}`
                    }).then(response => {
                        if (response.status === 200) {
                            const data = response.data || [];
                            const $tblFobPriceTbody = $('#tblFobPrice > tbody');
                            $tblFobPriceTbody.empty();

                            if (data.length > 0) {
                                data.forEach(item => {
                                    $tblFobPriceTbody.append(`
                                                    <tr>
                                                        <td>${item.RANGE_START + ' ~ ' + item.RANGE_START}</td>
                                                        <td>${CommonUtils.formatNumberWithCommas(item.TRADING_PRICE)}</td>
                                                        <td>${item.SUPPLY_RATE}</td>
                                                    </tr>
                                                `);
                                });

                                $(this).toggleClass('on');
                                if($(this).hasClass('on')){
                                    $(this).siblings('.cont').show();
                                }else{
                                    $(this).siblings('.cont').hide();
                                }
                            } else {
                                alert('FOB price does not exist');
                            }



                        }
                    }).catch(error => {
                        console.log(error);
                    });
                });

                $('.tooltip-box .btn-close').on('click',function () {
                    $(this).parent().hide();
                })
            },

            checkAll() {
                $( '.check' ).prop( 'checked', this.checked );
            },

            getParameters() {
                return {
                    brandNm: $('#txtBrandNm').val(),
                    brandHomePageUrl: $('#txtHomepageUrl').val(),
                    brandYouTubeUrl: $('#txtYoutubeUrl').val(),
                    brandInstagramUrl: $('#txtInstagramUrl').val(),
                }
            },

            invokeValidation() {
                if (0 === $("[name='productSeqArr']:checked").length) {
                    alert('Please check the product');
                    return false;
                }else{
                    $('#productSeq').val(CommonUtils.getCheckValToCommaString($('[name="productSeqArr"]')));
                }
                return true;
            },

            deleteWishList(productSeq) {
                axios({
                    method: 'delete',
                    url: `/any/rest/wishlist/delete/${productSeq}`
                }).then(response => {
                    if (response.data === 200) {
                        alert('Deleted successfully');
                        location.reload();
                    }
                }).catch(error => {
                    console.log(error);
                });
            }
        };

        const EventScope = {

            init() {
                this.clickEventListener();
            },

            clickEventListener() {
                $('#btnAskAll').on('click', () => {
                    if (!PageScope.invokeValidation()) return;

                    if (confirm('Would you like to inquire about this product?')) {
                        $('#inquiryFrm').submit();
                    }
                });
                $('[name="btnAsk"]').on('click', function() {
                    $('#productSeq').val($(this).val());

                    if (confirm('Would you like to inquire about this product?')) {
                        $('#inquiryFrm').submit();
                    }
                });
                $('[name="btnInquiry"]').on('click', function() {
                    location.href='/any/inquiry/detail/'+$(this).val();
                });
                $('[name="btnDetail"]').on('click', function() {
                    CommonUtils.forwardPage("/any/product_detail/"+$(this).val());
                });
                $('[name="btnDelete"]').on('click', function() {
                    if(confirm('Are you sure you want to delete this product?')) {
                        PageScope.deleteWishList($(this).val());
                    }
                });

            }
        };
    </script>

</th:block>
</html>